<section class="section lp__section-bottom-cta">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-push-2 col-md-push-1 col-md-2 lp__section-bottom-cta__btn">
                <a href="<%= bottom_cta.link_url %>">
                	<%= bottom_cta.link_text %>
                </a>
            </div>
            <div class="col-lg-push-1 col-md-9 lp__section-bottom-cta__content">
                <h4 class="title__underline">
                    <%= bottom_cta.title %>
                </h4>
                <p><%- bottom_cta.desc %></p>
            </div>
        </div>
    </div>
</section>