
<% for(i= 0; i < contentFullwidth.length; i++) {%>
    <h4 class="title__underline">
        <%- contentFullwidth[i].title %>
    </h4>
    <p <% if (twoColumns) {%> class="txt__columns--2" <%}%>>
        <%- contentFullwidth[i].body %>
    </p>
<%} %>
 