
<% for(i= 0; i < page.content.length; i++) {%>
    <h4 class="title__underline">
        <%- page.content[i].title %>
    </h4>
    <p <% if (twoColumns) {%> class="txt__columns--2" <%}%>>
        <%- page.content[i].body %>
    </p>
    <% if (contentButton) { %>
        <div>
            <a href='<%- page.content[i].btn.btnLink -%>' 
               class="btn__outline"><%- page.content[i].btn.btnTxt -%></a>
        </div>
    <% } %>
<%} %>
 