
<% for(i= 0; i < ctaFullwidth.length; i++) {%>
    <section class="cta-full">
        <div class="container-fluid">
            <div class="row row--eq-height">
                <div class="col-xs-12 col-md-5">
                    <div class="cta-full__image">
                        <img class="img-responsive" src= "<%- ctaFullwidth[0].imageURL -%>" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-2">
                    <div class="cta-full__btn">
                        <a href='<%- ctaFullwidth[0].ctaLink -%>'>
                            <h2 class="accent__offset-lines">
                                <%- ctaFullwidth[i].cta -%>
                            </h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<%}%>
