<!-- FOOTER -->
<footer class="footer container-fluid">
    <!-- TOP SECTION -->
    <section class="footer__top">
        <div class="row row--eq-height">

            <!-- EVENTS -->
            <div class="col-lg-offset-1 col-lg-5 footer__events">
                <h3 class="title__underline">
                    Trunk Show Dates
                </h3>
                <div class="footer__table">
                    <div class="row footer__table--row">
                        <div class="col-sm-2 footer__table-category">
                            <p>
                                Showings
                            </p>
                        </div>
                        <div class="col-sm-10 footer__table-category">
                            <p>
                                Designs by
                            </p>
                        </div>
                    </div>
                    <div class="row footer__table--row row--eq-height">
                        <div class="col-sm-2 footer__table-date">
                            <p>
                                <strong>
                                    Jan 6-10
                                </strong>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <h4>
                                Casablanca
                            </h4>
                        </div>
                        <div class="col-sm-4 footer__table-address">
                            <p>
                                1850 S Hurstbourne Pky<br>
                                <strong>
                                    Louisville, KY
                                </strong>
                                40220
                            </p>
                        </div>
                    </div>
                    <div class="row footer__table--row row--eq-height">
                        <div class="col-sm-2 footer__table-date">
                            <p>
                                <strong>
                                    Jan 6-10
                                </strong>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <h4>
                                Kenneth Winston
                            </h4>
                        </div>
                        <div class="col-sm-4 footer__table-address">
                            <p>
                                1850 S Hurstbourne Pky<br>
                                <strong>
                                    Louisville, KY
                                </strong>
                                40220
                            </p>
                        </div>
                    </div>
                    <div class="row footer__table--row row--eq-height">
                        <div class="col-sm-2 footer__table-date">
                            <p>
                                <strong>
                                    Jan 6-10
                                </strong>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <h4>
                                Casablanca
                            </h4>
                        </div>
                        <div class="col-sm-4 footer__table-address">
                            <p>
                                1850 S Hurstbourne Pky<br>
                                <strong>
                                    Louisville, KY
                                </strong>
                                40220
                            </p>
                        </div>
                    </div>
                    <div class="row footer__table--row row--eq-height">
                        <div class="col-sm-2 footer__table-date">
                            <p>
                                <strong>
                                    Jan 6-10
                                </strong>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <h4>
                                Casablanca
                            </h4>
                        </div>
                        <div class="col-sm-4 footer__table-address">
                            <p>
                                1850 S Hurstbourne Pky<br>
                                <strong>
                                    Louisville, KY
                                </strong>
                                40220
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end EVENTS -->

            <!-- ANNOUCEMENTS & PROMOTIONS -->
            <div class="col-lg-offset-1 col-lg-4 footer__cta accent__offset-lines">
                <div class="footer__form">
                    <h3>
                        Announcements &amp; Promotions
                    </h3>
                    <p>
                        Signing up gives you a chance to win a free wedding or bridal gown, up to 5 bride maids, &amp; a $300 gift card.
                    </p>
                    <form action="" post="">
                        <input class="input__field--on-bg" type="email" placeholder="your email address" />
                        <a class="btn__outline" href="#">
                            sign up
                        </a>
                    </form>
                </div>
            </div>
            <!-- end ANNOUCEMENTS & PROMOTIONS -->
        </div>
    </section>
    <!-- end TOP SECTION -->

    <!-- MIDDLE SECTION -->
    <section class="container-fluid footer__middle">
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 accent__offset-lines">
                <p>
                    <span>Copyright 2018 <strong>USA Bridal</strong>.</span> <span class="hidden-xs" >All Rights Reserved.</span> <span>Design by <a href="http://www.compulse.com"><strong>Compulse</strong></a>.</span>
                </p>
            </div>
        </div>
    </section>
    <!-- end MIDDLE SECTION -->

    <!-- BOTTOM SECTION -->
    <section class="container-fluid footer__bottom">
        <div class="row">

            <!-- NAV COLUMN 1 -->
            <div class="col-md-offset-1 col-lg-2">
                <h5>
                    Customer Service
                </h5>
                <ul class="footer__nav">
                    <li>
                        <a href="/locations">
                            Store Locations
                        </a>
                    </li>
                    <li>
                        <a href="/employment">
                            Employment
                        </a>
                    </li>
                    <li>
                        <a href="/contact">
                            Contact Us
                        </a>
                    </li>
                    <li>
                        <a href="/appointment">
                            Request Appointment
                        </a>
                    </li>
                    <li>
                        <a href="/register-wedding">
                            Register Your Wedding
                        </a>
                    </li>
                    <li>
                        <a href="/my-info">
                            My Info
                        </a>
                    </li>
                </ul>
            </div>
            <!-- end NAV COLUMN 1 -->

            <!-- NAV COLUMN 2 -->
            <div class="col-md-offset-1 col-lg-offset-2 col-lg-2">
                <h5>
                    Shop Now
                </h5>
                <ul class="footer__nav">
                    <li>
                        <a href="/invitations">
                            Invitations
                        </a>
                    </li>
                    <li>
                        <a href="/your-bridal">
                            The Wedding Party
                        </a>
                    </li>
                    <li>
                        <a href="/your-prom">
                            Your Prom
                        </a>
                    </li>
                    <li>
                        <a href="/your-quinceanera">
                            Your Quinceanera
                        </a>
                    </li>
                    <li>
                        <a href="/collections">
                            Collections
                        </a>
                    </li>
                </ul>
            </div>
            <!-- end NAV COLUMN 2 -->

            <!-- SEO -->
            <div class="col-md-offset-1 col-lg-3">
                <p class="footer__seo">
                    SEO Text: Fictat utemperepero dolupta temporerum aut elitatet qui tet aut qui aut re, solor si odiam, si vendi adiam, sum vollacc ulparum, od quamustem expel most, nonsequis et digenis dolut omnihicipis et volutae. Caecto cus et alit es experchilis soluptat officate planimus nobisciate quat exceperiandi aut aut rera doluptur? Ra debisti nctustor assi ullorem intemqu osapita tatibus endam fugia de plamenda plaut aut abo. Nam quas exeria pario verum eni a poremolum quo est, suntum re elibusdam,
                </p>
            </div>
            <!-- end SEO -->
        </div>
    </section>
    <!-- end BOTTOM SECTION -->

    <!-- END SECTION -->
    <section class="container-fluid footer__end">
        <div class="row">
            <div class="col-md-offset-1 col-lg-offset-8 col-md-3 footer__end-links">
                <a href="/policy">
                    Online Policy
                </a>
                <a href="/sitemap">
                    Site Index
                </a>
            </div>
        </div>
    </section>
    <!-- end END SECTION -->
</footer>
<!-- end FOOTER -->

<script src="javascript/vendor.js"></script>
<script src="javascript/bundle.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrARAoL8w7xRmzkslFHK979yEEQ_fQEtw&callback=initializeMap"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js"></script>
</body>

</html>