<!-- views/partials/footer.ejs -->
<footer class="footer section section-contain top-section-gap">
    <!-- Trunk Show Dates -->
    <div id="home-trunk-show-dates" class="footer-events ">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="footer-events__title section-header">
                        <h3 class="title__underline">Trunk Show Dates</h3>
                    </div>
                    <div class="footer-events__headers">
                        <div class="footer-events__header">
                            <p>Showings</p>
                        </div>
                        <div class="footer-events__header">
                            <p>Designs by</p>
                        </div>
                    </div>
                    <div class="footer-events__table">
                        <!-- EVENT 1 -->
                        <div class="footer-events__event">
                            <div class="footer-events__date">
                                <p>jan 6 - 10</p>
                            </div>
                            <div class="footer-events__designer">
                                <h4>Casablanca</h4>
                            </div>
                            <div class="footer-events__address">
                                <p>1850 S Hurtsbourne Pky</p>
                                <p><span class="address__city-state">Louisville, ky</span> 40220</p>
                            </div>
                        </div>
                        <!-- EVENT 2 -->
                        <div class="footer-events__event">
                            <div class="footer-events__date">
                                <p>jan 6 - 10</p>
                            </div>
                            <div class="footer-events__designer">
                                <h4>Casablanca</h4>
                            </div>
                            <div class="footer-events__address">
                                <p>1850 S Hurtsbourne Pky</p>
                                <p><span class="address__city-state">Louisville, ky</span> 40220</p>
                            </div>
                        </div>
                        <!-- EVENT 3 -->
                        <div class="footer-events__event">
                            <div class="footer-events__date">
                                <p>jan 6 - 10</p>
                            </div>
                            <div class="footer-events__designer">
                                <h4>Casablanca</h4>
                            </div>
                            <div class="footer-events__address">
                                <p>1850 S Hurtsbourne Pky</p>
                                <p><span class="address__city-state">Louisville, ky</span> 40220</p>
                            </div>
                        </div>
                        <!-- EVENT 4-->
                        <div class="footer-events__event">
                            <div class="footer-events__date">
                                <p>jan 6 - 10</p>
                            </div>
                            <div class="footer-events__designer">
                                <h4>Casablanca</h4>
                            </div>
                            <div class="footer-events__address">
                                <p>1850 S Hurtsbourne Pky</p>
                                <p><span class="address__city-state">Louisville, ky</span> 40220</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 ">
                    <div class="footer-cta">
                        <div class="footer-cta__content">
                            <h3 class="footer-cta__headline ">Announcements &amp; Promotions</h3>
                            <p class="footer-cta__summary ">Signing up gives you a chance to win a free wedding or bridal gown, up to 5 bride maids, &amp; a $300 gift card.</p>
                            <form class="footer-cta__form">
                                <input type="email" id="email" name="email" placeholder="your email address" />
                                <div class="footer-cta__btn">
                                    <input class="btn btn--dark" type="submit" value="sign up" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright">
        <div class="footer-copyright__body">
            <p>
                copyright 2018 <strong>usa bridal</strong>. all rights reserved. design by <strong>compulse</strong>.
            </p>
        </div>
    </div>
    <!-- Footer Nav -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer__wrapper">
                    <div class="footer__column">
                        <div class="footer__column__wrapper">
                            <div class="footer__column__title">
                                <h5>Customer Service</h5>
                            </div>
                            <ul class="footer__nav">
                                <li class="footer__nav-item"><a href="">STORE LOCATIONS</a></li>
                                <li class="footer__nav-item"><a href="">EMPLOYMENT</a></li>
                                <li class="footer__nav-item"><a href="">CONTACT US</a></li>
                                <li class="footer__nav-item"><a href="">REQUEST APPOINTMENT</a></li>
                                <li class="footer__nav-item"><a href="">REGISTER YOUR WEDDING</a></li>
                                <li class="footer__nav-item"><a href="">MY INFO</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__column">
                        <div class="footer__column__wrapper">
                            <div class="footer__column__title">
                                <h5>Shop Now</h5>
                            </div>
                            <ul class="footer__nav">
                                <li class="footer__nav-item"><a href="">INVITATIONS </a></li>
                                <li class="footer__nav-item"><a href="">THE WEDDING PARTY</a></li>
                                <li class="footer__nav-item"><a href="">YOUR PROM</a></li>
                                <li class="footer__nav-item"><a href="">YOUR QUINCEANERA</a></li>
                                <li class="footer__nav-item"><a href="">COLLECTIONS</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__column">
                        <div class="footer__column__wrapper">
                            <div class="footer__seo">
                                <p><span>SEO Text</span> Fictat utemperepero dolupta temporerum aut elitatet qui tet aut qui aut re, solor si odiam, si vendi adiam, sum vollacc ulparum, od quamustem expel most, nonsequis et digenis dolut omnihicipis et volutae.
                                    Caecto cus et alit es experchilis soluptat offcate planimus nobisciate quat exceperiandi aut aut rera doluptur? Ra debisti nctustor assi ullorem intemqu osapita tatibus endam fugia de plamenda plaut aut abo. Nam quas
                                    exeria pario verum eni a poremolum quo est, suntum re elibusdam,</p>
                            </div>
                            <div class="footer__policy">
                                <a href="">Online Policy</a>
                                <span>|</span>
                                <a href="">Site Index</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>

<script src="javascript/bundle.js"></script>
</body>

</html>