<!-- ====================================
** OPTIONAL: Input Dropdowns ***
**
** If you want to display dropdowns, set 
** categoriesTagsSection = True
** OTHERWISE... set leave it set to False, to hide
**
Set condition: 
<% categoriesTagsSection = false; %>
Wrap dropdown section: 
<% if (categoriesTagsSection) { %> 
<% } %>
==================================== -->

<!-- HEADER LARGE -->
<section class="container-fluid sub-hero__section--large">
    <!-- Header Title and body-->
    <div class="row">
        <div class="social__links hidden-sm hidden-xs">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-pinterest"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="col-md-1">
            <!-- Gold Box -->
            <div class="sub-hero__arrow-accent--large hidden-sm hidden-xs">
                <div class="sub-hero__arrow-accent--large__container">
                    <i class="fas fa-arrow-down"></i>
                </div>
            </div>
        </div>
        <!-- IMAGE -->
        <div class="col-md-5">
            <img class="sub-hero__img--large" src="http://placehold.it/2000" alt="" />
        </div>
        <!-- HEADER -->
        <div class="col-md-6 col-md-pull-1 ">
            <div class="sub-hero__large-header">
                <ul class="breadcrumbs">
                    <li class=" "><a href=" ">Home</a></li>
                    <li class=" "><a href=" ">Blog</a></li>
                </ul>
                <div class="sub-hero__large-title ">
                    <h1>
                        <small>
                            The Blog:
                        </small> Bridal &amp; Prom
                    </h1>
                    <p class="sub-hero__large-body">
                        Os excestrum et mod quis minvele ssernate ant lignatur aliquaes ipsantis corro occabor solorporatur sit quiate aditior secesto rporem et laborib usapit aut qui tem. Laccus, optas si sit et expe sinci doluptatur antem.
                    </p>
                </div>
            </div>
            <!--  CTA -->
            <div class="sub-hero__cta--single">
                <h4 class="title__underline">
                    It's All About You!
                </h4>
            </div>
            <div class="sub-hero__dropdowns">
                <!-- Categories -->
                <select class="input__dropdown">
                    <option value=" " hidden>Categories</option>
                    <option value=" ">Category 1</option>
                    <option value=" ">Category 2</option>
                    <option value=" ">Category 3</option>
                    <option value=" ">Category 4</option>
                </select>
                <!-- Tags -->
                <select class="input__dropdown">
                    <option value=" " hidden>Tags</option>
                    <option value=" ">Tag 1</option>
                    <option value=" ">Tag 2</option>
                    <option value=" ">Tag 3</option>
                    <option value=" ">Tag 4</option>
                    <option value=" ">Tag 5</option>
                </select>
            </div>
        </div>
    </div>
</section>
<!-- end of HEADER LARGE  -->