<header>
	<nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			  <span class="sr-only">Toggle navigation</span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			</button>
				<a class="navbar-brand" href="/">
					<img src="/images/logo-usabridal.png" alt="USA Bridal">
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown nav-item">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop</a>
						<div class="dropdown-menu">
							<div class="dropdown-menu-category-row">
								<div class="dropdown-menu-category-col-heading">
									<h6 class="title__underline">Collections</h6>
								</div>
								<div class="dropdown-menu-category-col-menu-container">
									<div class="dropdown-menu-category-col-menu">
										<div class="dropdown-menu-category-label">
											Collection
										</div>
										<h5 class="title__underline">Your Bridal</h5>
										<ul>
											<li><a href="#">Bridal Gowns</a></li>
											<li><a href="#">Destination Gowns</a></li>
											<li><a href="#">Bridal Party</a></li>
											<li><a href="#">Flower Girl</a></li>
											<li><a href="#">Tuxedos</a></li>
										</ul>
									</div>
									<div class="dropdown-menu-category-col-menu">
										<div class="dropdown-menu-category-label">
											Collection
										</div>
										<h5 class="title__underline">Your Prom</h5>
										<ul>
											<li><a href="#">Junior Pageant</a></li>
											<li><a href="#">Prom-Pageant Party</a></li>
											<li><a href="#">Graduation</a></li>
											<li><a href="#">Homecoming/Party Dresses</a></li>
											<li><a href="#">Social Occassion</a></li>
										</ul>
									</div>
									<div class="dropdown-menu-category-col-menu">
										<div class="dropdown-menu-category-label">
											Collection
										</div>
										<h5 class="title__underline">Your Quinceanera</h5>
										<ul>
											<li><a href="#">Quinceanera</a></li>
											<li><a href="#">Chambelan</a></li>
										</ul>
									</div>
									<div class="dropdown-menu-category-col-menu">
										<div class="dropdown-menu-category-label">
											Collection
										</div>
										<h5 class="title__underline">Invitations &amp; More</h5>
										<ul>
											<li><a href="#">On-Trend Invitations</a></li>
											<li><a href="#">Spanish Invitations</a></li>
											<li><a href="#">Gifts</a></li>
											<li><a href="#">Bridal Rewards</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="dropdown-menu-category-row">
								<div class="dropdown-menu-category-col-heading">
									<h6 class="title__underline">Designers</h6>
								</div>
								<div class="dropdown-menu-category-col-menu-container">
									<div class="dropdown-menu-category-col-menu">
										<ul>
											<li><a href="#">AF Couture</a></li>
											<li><a href="#">Allure Couture</a></li>
											<li><a href="#">Allure Bridal</a></li>
											<li><a href="#">Allure Romance</a></li>
											<li><a href="#">Allure Womens</a></li>
											<li><a href="#">Allure Modest</a></li>
										</ul>
									</div>
									<div class="dropdown-menu-category-col-menu">
										<ul>
											<li><a href="#">Bonny Bridal</a></li>
											<li><a href="#">Bonny Unforgettable Plus</a></li>
											<li><a href="#">Casablanca Bridal</a></li>
											<li><a href="#">David Tutera</a></li>
											<li><a href="#">Enchanting by Moncheri</a></li>
											<li><a href="#">Kenneth Winston</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="dropdown-menu-custom-close-container">
								<div class="dropdown-menu-custom-close-txt">
									Close Menu
								</div>
								<div class="dropdown-menu-custom-close-btn">
									<i class="fa fa-times" aria-hidden="true"></i>
								</div>
							</div>
						</div>
					</li>
					<li class="dropdown nav-item">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">USA Bridal</a>
						<div class="dropdown-menu">
							<div class="dropdown-menu-category-row">
								<div class="dropdown-menu-category-col-heading">
									<h6 class="title__underline">USA Bridal</h6>
								</div>
								<div class="dropdown-menu-category-col-menu-container">
									<div class="dropdown-menu-category-col-menu">
										<div class="dropdown-menu-category-label">
											USA Bridal
										</div>
										<h5 class="title__underline">Events</h5>
										<ul>
											<li><a href="#">Trunk Shows</a></li>
										</ul>
									</div>
									<div class="dropdown-menu-category-col-menu">
										<div class="dropdown-menu-category-label">
											USA Bridal
										</div>
										<h5 class="title__underline">Social</h5>
										<ul>
											<li><a href="#">Blog</a></li>
											<li><a href="#">Promotions</a></li>
											<li><a href="#">Contests</a></li>
										</ul>
									</div>
									<div class="dropdown-menu-category-col-menu">
										<div class="dropdown-menu-category-label">
											USA Bridal
										</div>
										<h5 class="title__underline">Warehouse</h5>
										<ul>
											<li><a href="#">About Us</a></li>
											<li><a href="#">Gallery</a></li>
											<li><a href="#">Employment</a></li>
											<li><a href="#">Store Locations</a></li>
											<li><a href="#">FAQ</a></li>
											<li><a href="#">Reviews</a></li>
											<li><a href="#">Testimonials</a></li>
											<li><a href="#">Contact Us</a></li>
										</ul>
									</div>
									<div class="dropdown-menu-category-col-menu">
										<div class="dropdown-menu-category-label">
											USA Bridal
										</div>
										<h5 class="title__underline">Resources</h5>
										<ul>
											<li><a href="#">Tuxedo Avenue</a></li>
											<li><a href="#">Your Party Shoes</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="dropdown-menu-custom-close-container">
								<div class="dropdown-menu-custom-close-txt">
									Close Menu
								</div>
								<div class="dropdown-menu-custom-close-btn">
									<i class="fa fa-times" aria-hidden="true"></i>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item"><a href="#">Tuxedo Avenue</a></li>

					<li class="dropdown nav-item  nav-item-last">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
						<div class="dropdown-menu">
							<div class="dropdown-menu-category-row">
								<div class="dropdown-menu-category-col-heading">
									<h6 class="title__underline">Account</h6>
								</div>
								<div class="dropdown-menu-category-col-menu-container">
									<div class="dropdown-menu-category-col-menu">
										<div class="dropdown-menu-category-label">
											Account
										</div>
										<h5 class="title__underline">My Account</h5>
										<ul>
											<li><a href="#">My Account</a></li>
											<li><a href="#">My Appointments</a></li>
											<li><a href="#">Register Your Wedding</a></li>
											<li><a href="#">Register Your Prom</a></li>
											<li><a href="#">Request Appointment</a></li>
										</ul>
									</div>
									<div class="dropdown-menu-category-col-menu">
										<div class="dropdown-menu-category-label">
											Account
										</div>
										<h5 class="title__underline">Orders</h5>
										<ul>
											<li><a href="#">My Orders</a></li>
											<li><a href="#">Shopping Cart</a></li>
											<li><a href="#">My Wishlist</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="dropdown-menu-custom-close-container">
								<div class="dropdown-menu-custom-close-txt">
									Close Menu
								</div>
								<div class="dropdown-menu-custom-close-btn">
									<i class="fa fa-times" aria-hidden="true"></i>
								</div>
							</div>
						</div>
					</li>
					<!-- Nav Icons -->
					<li class="nav-icon">
						<a href="#" class="navbar-link">
							<i class="fas fa-heart fa-lg"></i>
							<div class="nav-icon-counter">4</div>
						</a>
					</li>
					<li class="nav-icon">
						<a href="#" class="navbar-link">
							<i class="fas fa-shopping-bag fa-lg"></i>
							<div class="nav-icon-counter">2</div>
						</a>
					</li>
					<li class="nav-icon">
						<a href="#" class="navbar-link">
							<i class="fas fa-user fa-lg"></i>
						</a>
					</li>
					<li class="nav-icon">
						<a href="#" id="nav-search" class="">
							<i class="fas fa-search fa-lg"></i>
						</a>
					</li>
					<form method="get" action="https://www.webdesignerdepot.com" id="search-form" class="hidden" _lpchecked="1">
						<input type="text" name="s" value="" id="search-field" class="" placeholder="Search products..." data-value="Search articles...">
					</form>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
	</nav>
</header>