<!-- HEADER LARGE -->
<section class="container-fluid sub-hero__section--large">
    <!-- CALL TO ACTIONS-->
    <div class="row">
        <div class="social__links hidden-md hidden-sm hidden-xs">
            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fab fa-pinterest"></i>
            </a>
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <div class="row sub-hero__section--large-cta-row">
            <div class="col-lg-2">
                <div class="sub-hero__section--large-arrow-accent hidden-md hidden-sm hidden-xs">
                    <div class="sub-hero__section--large-arrow-accent-container">
                        <i class="fas fa-arrow-down"></i>
                    </div>
                </div>
            </div>
            <div class="sub-hero__section--large-cta col-xs-offset-2 col-md-offset-3 col-lg-offset-4 col-xs-10 col-md-9 col-lg-6">
                <h4 class="title__underline">
                    It's All About You!
                </h4>
            </div>
        </div>
        <!-- end CALL TO ACTIONS -->

        <!-- IMAGE -->
        <div class="col-xs-3 col-md-6 col-sm-offset-0 col-lg-offset-1 col-md-pull-1 col-lg-pull-0 col-lg-6">
            <img class="sub-hero__section--large-img" src="http://placehold.it/2000" alt="" />
        </div>
        <!-- end IMAGE -->

        <div class="col-xs-9 col-md-6 col-md-pull-1 col-lg-pull-1 col-lg-5">
            <!-- CONTENT -->
            <div class="sub-hero__section--large-header-container">
                <div class="sub-hero__section--large-header ">
                    <ul class="breadcrumbs">
                        <li class=" "><a href=" ">Home</a></li>
                        <li class=" "><a href=" ">Blog</a></li>
                    </ul>
                    <h1>
                        <small>
                            The Blog:
                        </small> Bridal<br> 
                        &amp; Prom
                    </h1>
                    <p class="sub-hero__section--large-body">
                        Os excestrum et mod quis minvele ssernate ant lignatur aliquaes ipsantis corro occabor solorporatur sit quiate aditior secesto rporem et laborib usapit aut qui tem. Laccus, optas si sit et expe sinci doluptatur antem.
                    </p>
                </div>
            </div>
            <!-- end CONTENT -->

            <!--  OPTIONAL CONTENT -->
                     
            <div class="sub-hero__section--large-dropdowns">
                <select class="input__dropdown">
                    <option value=" " hidden>Categories</option>
                    <option value=" ">Category 1</option>
                    <option value=" ">Category 2</option>
                    <option value=" ">Category 3</option>
                    <option value=" ">Category 4</option>
                </select>
                <select class="input__dropdown">
                    <option value=" " hidden>Tags</option>
                    <option value=" ">Tag 1</option>
                    <option value=" ">Tag 2</option>
                    <option value=" ">Tag 3</option>
                    <option value=" ">Tag 4</option>
                    <option value=" ">Tag 5</option>
                </select>
            </div>
            
            <!-- end OPTIONAL CONTENT -->
        </div>
    </div>
</section>
<!-- end HEADER LARGE  -->