<ul class="blog__post-snippets list-group">
    <li class="blog__post-snippet list-group-item">
        <div class="blog__post-snippet__title">
            <h2>
                <span>Illusion Backs, Elegant Sleeves, Romantic Necklines:</span>Stunning Gown<br/> Trends for Spring
            </h2>
        </div>
        <div class="blog__post-snippet__content">
            <p>Os excestrum et mod quis minvele ssernate ant lignatur aliquaes ipsantis corro occabor solorporatur sit quiate aditior secesto
            rporem et laborib usapit aut qui tem. Laccus, optas si sit et expe sinci doluptatur antem. Laborepe nonsequia dem conecep
            taspelicil et erum que nestiur? Tionsectur rentio. Ciet, sit ut latur? Occabo. Cerciist, sit doluptat molorerferum quasi
            to con et officillesti ad quaerae</p>
            <p> dolupti usaperiatias eroribus et ipsandelis nonet volecum laboreiciet volor re et, omnit, comnisim fugia doluptasped quae
            sequatur aliquiamus. Ri dolut ut as restion sersperume dolut esequi te ne excest, consequam ipsam, odionsed maxim adi ullorum
            eos moditium conem nissum enda sim harum quo ipiet vollibus susciduci</p>
            <div class="blog__post-snippet__button">
                <a href='#' class="btn__outline">read article</a>
            </div
        </div>
        
    </li>
    
</ul>