<div class="social__links hidden-md hidden-sm hidden-xs">
    <a class="animation-object--fade-up" href="https://www.facebook.com/usabridal.bridalwarehouse/" target="_blank">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a class="animation-object--fade-up" href="https://twitter.com/BridalWarehouse" target="_blank">
        <i class="fab fa-twitter"></i>
    </a>
    <a class="animation-object--fade-up" href="https://www.pinterest.com/usabridal1/" target="_blank">
        <i class="fab fa-pinterest"></i>
    </a>
    <a class="animation-object--fade-up" href="https://www.instagram.com/usabridal/" target="_blank">
        <i class="fab fa-instagram"></i>
    </a>
</div>