//--------------------------
// Breadcrumbs
//--------------------------

.breadcrumbs {
	$parent: &;
	display: block;
	list-style-type: none;
	margin-bottom: 40px;
	padding-left: 20px;
	li {
		display: inline-block;
		a {
			@include heading($font-base, 1, 400);
			border-bottom: 2px solid $black;
			padding-bottom: 6px;
			@at-root {
	            #{$parent} li:last-child a {
					border: none;
	                cursor: default;
					pointer-events: none;
	            }
	        }
	        &:hover {
				text-decoration: none;
			}
		}
		&:not(:last-child) {
			margin-right: 5px;
			&:after {
				@include heading($font-base, 1, 400);
				content: '\203A';
				display: inline-block;
				font-weight: 400;
				margin-left: 5px;
			}
		}
	}
}