//--------------------------
// Breadcrumbs
//--------------------------

.breadcrumbs {
	$parent: &;
	display: block;
	list-style-type: none;
	margin-bottom: 40px;
	padding-left: 20px;
	white-space: nowrap;
	@media (max-width: $bp-md) {
		padding-left: 0;
	}
	li {
		display: inline-block;
		a {
			@include heading($font-base, 1, 400);
			// border-bottom: 2px solid $black;
			padding-bottom: 6px;
			position: relative;
			text-transform: capitalize;
			@media (max-width: $bp-xs) {
				font-size: $font-base - 2px;
			}
			@at-root {
	            #{$parent} li:last-child a {
	                cursor: default;
					pointer-events: none;
					&:after {
						display: none;
					}
	            }
	        }
	        &:hover {
				text-decoration: none;
			}
			&:after {
				background: $black;
				bottom: -2px;
				content: '';
				height: 2px;
				left: 0;
				position: absolute;
				width: 0;
			}
		}
		&:not(:last-child) {
			margin-right: 5px;
			&:after {
				@include heading($font-base, 1, 400);
				content: '\203A';
				display: inline-block;
				font-weight: 400;
				margin-left: 5px;
			}
		}
	}
}