//--------------------------
// Buttons
//--------------------------

.btn__outline {
	@include heading($button-size, 1, 900);
    border-bottom: 5px solid $black;
    color: $black;
    display: inline-block;
    font-style: italic;
    padding-bottom: 5px;
    &:hover {
        color: unset;
    }
    @media (max-width: $bp-sm) {
        font-size: $button-size - 2px;
    }
    @media (max-width: $bp-xs) {
        border-width: 4px;
        font-size: $button-size - 4px;
    }
}