%caption-style {
    background: $black;
    color: $white;
    display: inline-block;
    font-family: $primary-font;
    font-size:$font-base;
    font-weight: 900;
    margin-bottom: 0;
    padding: 10px 1em;
    position: absolute;
    bottom: 0; // Default is bottom left
}
%long {
    width: 300px;
    max-width: 300px;
}
%top {
    top: 0; 
    bottom: unset;
}
%right {
    left: unset;
    right: -3em; // equal to column gap spacing set by column-gap
    @media screen and (max-width: $bp-md){
        right: 0;
    }
}
%left {
    right: unset;
    left: -3em; // equal to column gap spacing set by column-gap
    @media screen and (max-width: $bp-md){
        left: 0;
    }
}

// @at-root #{$parent}
.img-caption {
    &__text {
        @extend %caption-style;
        &-top {
            @extend %caption-style;
            @extend %top;
            @extend %left;
    
            &--right {
                @extend %caption-style;
                @extend %right;
                @extend %top;
                &-long {
                    @extend %caption-style;
                    @extend %top;
                    @extend %long;
                }
            }
        }
        &-right {
            @extend %caption-style;
            @extend %right; // bottom right
            &--long {
                @extend %caption-style;
                @extend %long;
            }
        }
        &--long {
            @extend %caption-style;
            @extend %long;
        }
    }
}