//--------------------------
// Pagination
//--------------------------

.pagination {
	&__prev {
		background: $tan;
		display: flex;
		margin-bottom: 80px;
		margin-left: 2.75vw;
		min-height: 200px;
		.btn__outline {
			align-self: center;
			margin: 0 auto;
		}
	}
	&__links {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		padding-left: 2.75vw;
		h4 {
			flex: 1 0 100%;
		}
		li {
			&:not(:last-child) {
				&:after {
					content: '/';
					display: inline-block;
					font-family: inherit;
					font-size: inherit;
					font-weight: inherit;
					margin: 0 20px;
				}
			}
		}
		a {
			@include paragraph($font-base, 1, 400);
			&.selected,
			&:hover {
				font-weight: 900;
			}
		}
	}
}