// -----------------------
// Table of Contents
// -----------------------

// 1. Headings

// 2. Accent Lines

// 3. Paragraphs


// -----------------------
// Headings
// -----------------------

// // Large Line Underneath H1
// %underline {
//     border-bottom: 10px solid $black;
    
// }

h1 {
    // @extend %underline;
    @include heading($h1-size, .9, 900, $h2-size / 1.5); //heading size, heading line-height, heading weight, small size
    display: inline-block;
    margin-bottom: 40px;
    padding: 0 30px 20px 20px;
    position: relative;
    white-space: nowrap;
    @media (max-width: $bp-md) {
        margin-left: -20px;
    }
    @media (max-width: $bp-sm - 1px) {
        border-width: 8px;
        font-size: $h1-size / 1.75;
        small {
            font-size: $h4-size;
        }
    }
    @media (max-width: $bp-xs - 1px) {
        border-width: 6px;
        font-size: $h2-size / 1.5;
        padding: 0 20px 20px 20px;
        small {
            font-size: $h5-size / 1.15;
            letter-spacing: -1px;
        }
    }
    &:after {
        background: $black;
        bottom: -10px;
        content: '';
        height: 10px;
        left: 0;
        position: absolute;
        width: 0;
        @media (max-width: $bp-sm) {
            bottom: 0;
            height: 8px;
        }
        @media (max-width: $bp-xs - 1px) {
            height: 6px;
        }
    }
}

h2 {
    @include heading($h2-size, 1, 900, $h3-size); //heading size, heading line-height, heading weight, small size
}

h3 {
    @include heading($h3-size, 1, 900); //size, line-height, weight
    @media (max-width: $bp-xs) {
        font-size: $h2-size / 2.5;
    }
}

h4 {
    @include heading($h4-size, 1.1, 900); //size, line-height, weight
}

h5 {
    @include heading($h5-size, 1, 900); //size, line-height, weight
    position: relative;
    &:after {
        background: $black;
        bottom: -10px;
        content: '';
        height: 2px;
        left: -50%;
        max-width: 215px;
        position: absolute;
        width: 100%;
        @media screen and (max-width: $bp-lg) {
            left: -9%;
        }
         @media screen and (max-width: $bp-md) {
            left: -85px;
        }
    }
}

h6 {
    @include heading($h6-size, 1, 900); //size, line-height, weight
}


// -----------------------
// Accent Lines
// -----------------------

.accent {
    // Lines On Both Sides of Header
    &__lines {
        display: block;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
        @at-root {
            %accent-line {
                background: $black;
                content: '';
                height: 2px;
                position: absolute;
                width: 1680px;
            }
        }
        > span {
            display: inline-block;
            position: relative;
            &:before {
                @extend %accent-line;
                bottom: 0;
                margin-right: 15px;
                right: 100%;
            }
            &:after {
                @extend %accent-line;
                bottom: 0;
                left: 100%;
                margin-left: 15px;
            }
        }
    }
    // Lines Offset Both Sides of Container
    &__offset-lines {
        position: relative;
        @at-root {
            %offset-line {
                background: $black;
                content: '';
                height: 2px;
                max-width: 215px;
                position: absolute;
                width: 100%;
            }
        }
        &:before {
            @extend %offset-line;
            left: -50%;
            transform: translateX(100%);
            top: 0;
            @media (max-width: $bp-lg) {
                display: none;
            }
        }
        &:after {
            @extend %offset-line;
            bottom: 0;
            transform: translateX(-100%);
            right: -50%;
            @media (max-width: $bp-lg) {
                display: none;
            }
        }
    }
}

// Small Line Underneath NOT Using H1
.title__underline {
    margin-bottom: 50px;
    position: relative;
    &:after {
        background: $black;
        bottom: -20px;
        content: '';
        display: block;
        height: 2px;
        left: 0;
        max-width: 175px;
        position: absolute;
        width: 100%;
    }
}


// -----------------------
// Paragraphs
// -----------------------

p,
ul,
li,
a {
    @include paragraph($font-base, 1.5, 400); //size, line-height, weight
    color: $black;
    @media (max-width: $bp-sm) {
        font-size: $font-base - 2px;
    }
}

strong,
b {
    color: inherit;
    font-weight: 900;
    text-transform: uppercase;
}

a:hover {
    color: unset;
    text-decoration: none;
}

.txt__columns--2 {
    columns: 2 40px;
    @media (max-width: $bp-lg) {
        column-count: 1;
        strong:not(:first-child) {
            display: block;
            margin: 20px 0 -20px;
        }
    }
    @media (max-width: $bp-md) {
        column-count: 2;
    }
    @media (max-width: $bp-xs) {
        column-count: 1;
        strong:not(:first-child){
            display: block;
            margin: 20px 0 -20px;
        }
    }
}