%row-spacing-align-footer {
    padding: 0 40px;
    margin: 0; // make row fit inside container-fluid
    [class*='col-'] {
        @media (min-width: $bp-md) {
            margin-right: 5%;
            &:nth-of-type(1) {
                margin-left: 8.33333333%;
            }
        }
        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }
    [class*="col-md-5"] {
        @media (min-width: 992px) {
            padding-right: 3%;
            margin-right: 0;
        }
    }

    @media screen and (min-width:$bp-sm) {
        padding: 0 60px;
    }
   
}

.content { // place on a div or section with a .container-fluid class
    padding: 100px 0;
    @media screen and (min-width: $bp-md) {
        // margin: 0 60px;
    }
    .row {
        @extend %row-spacing-align-footer;
    }
    &--full {
        @extend .content;
        .row {
            @extend %row-spacing-align-footer;
            [class*='col-'] {
                @media (min-width: $bp-md) {
                    margin-left: 8.33333333%;
                }
                p {
                    column-gap: 4em;
                    max-width: 590px;
                }
                .txt__columns--2 {
                    max-width: unset;
                }
            }
        }
    }
}