.cta-full {
    $parent: &;
    background: $lt-blue;
    padding-top: 0;
    @media (min-width:$bp-sm) {
        padding-top: 60px;
    }
    .row {
        align-items: center;
        flex-flow: row wrap;
    }
    &__image {
        overflow: hidden;
        &:before { 
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $lavender;
            background-blend-mode: soft-light;
        }
        img {
            max-height: 420px;
            @media (min-width:$bp-md) {
                max-height: 570px;
            }
            object-fit: cover;
            width: 100%;
            transform: scale(1);
            object-position: 50% 0;
            opacity: 0.3;
        }  
    }
    &__btn-txt {
        padding:40px;
        @media (min-width:$bp-sm) {
            padding:60px;
        }
        @media (min-width:$bp-md) {
            padding: unset;
        }
        &:before {
            left: -40%;
        }
        &:after {
            right: -20%;
        }
        h2 {
            font-size: 40px;
            display: inline-block;
            @media (min-width:$bp-md) {
                font-size: 60px;
                padding: 30px 0; 
            }
            @media (min-width:$bp-lg) {
                font-size: $h2-size;
            }
        }
    }
    //  Every EVEN SECTION(whitebg)...
    &:nth-of-type(2n + 1) {
        background: white;
        @media (min-width:$bp-md) {
            padding-bottom: 40px;
            // margin-left: calc(20px + 8.33333333%);
        }
        .row {
            [class*='col-md'] {
                padding-left: 0;
                &:first-of-type { // IMAGE
                    order:1;
                    @media (min-width:$bp-md) {
                        order:2;
                        margin-left: 16.66666667%;// offset-2
                        margin-left: 8.33333333%; // offset-1
                    }
                }
                &:nth-of-type(2) { // TEXT
                    order:2;
                    margin-left: 0;
                    .cta-full__btn-txt {
                        &:before {
                            left: -38%;
                        }
                        &:after {
                            right: -35%;
                        }
                    }
                    @media (min-width:$bp-md) {
                        order:1;
                        padding-left: calc(40px + 8.33333333%);
                        width: 50%;
                    }
                }
            }
        }
    }
}