.cta-full {
    $parent: &;
    background: $lt-blue;
    padding-top: 40px;
    &:nth-of-type(2n + 1) {
        //  Every EVEN SECTION(whitebg)...
        background: white;
        padding-bottom: 40px;
        & .row [class*='col-md']:first-of-type {
            // ..IMAGE
            @media (min-width: 992px) {
                left: 58.33333333%; // push right: col-md-push-5
                margin-left: 8.33333333%; // add col-md-offest-1
                width: 33.33333333%; // make it a col-md-4
            }
        }
        & .row [class*='col-md']:nth-of-type(2) {
            // ..TEXT
            @media (min-width: 992px) {
                right: 41.66666667%; // pull left: col-md-pull-5
                margin-left: 8.33333333%; // add col-md-offset-1
                width: 50%; // make it a col-md-6
            }
        }
    }
    .row {
        align-items: center;
        flex-flow: row wrap;
        [class*='col-']{
            &:first-of-type{
                overflow: hidden;
            }
            &:nth-of-type(2n) {
                padding-left: 45px;
            }
            
        }
        
    }

    &__image {
        object-fit: cover;
        width: 100%;
        max-height: 570px;
        object-position: top;
        transform: scale(1.1);
    }
    &__btn {
        &:before {
            left: -40%;
        }
        &:after {
            right: -20%;
        }
        h2 {
            display: inline-block;
            padding: 30px 0;  
        }
    }

}