//============================================ 
// FOOTER: variables, placeholders and mixins
//============================================ 
// Variables
$line: 195px;
// Placeholders
%footer-accent-line {
    width: 1680px;
    height: 2px;
    background: rgb(34, 49, 63);
}
%input{
    &[type*="email"] {
    font-family: $primary-font;
    font-style: italic;
    font-weight: 200;
    color: $black;
    padding: 20px;
    width: 100%;
    border: none;
    box-shadow: none;
    border-style: none;
    height: 2.5em; /* for IE */
    vertical-align: middle; /* This is optional but it makes legacy IEs look better */
    &::placeholder {
        color: inherit;
        font-size: $font-base;
      }
    }
}
// Add to element you want to add a bg-img overlay
@mixin image-bg--overlay( $image-url, $color) {
    &:before {
        content: '';
        position: absolute;
        background: url($image-url) no-repeat center fixed;
        background-size: cover;
        background-color: $color;
        background-blend-mode: soft-light;
        opacity: 0.5;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
        @supports (mix-blend-mode: soft-light) {
            mix-blend-mode: soft-light;
        }
        @supports not (mix-blend-mode: soft-light) {
            opacity: .1;
        }
    }
}
// Lines - Right
@mixin accent--right($width, $top, $right) {
    @extend %footer-accent-line;
    width: $width;
    top: $top;
    right: $right;
}
// Lines - Left
@mixin accent--left($width, $top, $left) {
    @extend %footer-accent-line;
    width: $width;
    top: $top;
    left: $left;
}
// FLEX CENTER
@mixin flex-center($direction, $wrap) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: $direction $wrap;
}
// FLEX SELF
@mixin flex-self($flex-direction) {
    justify-self: $flex-direction;
    align-self: $flex-direction;
}

//============================================ 
// TRUNK SHOW EVENTS
//============================================ 
.footer-events {
    color: $black;
    position: relative;
    @include image-bg--overlay("../images/hero.png", $lt-blue);
    .row {
        [class*="col-"] {
            &:first-of-type {
                margin-bottom: 20px;
            }
        }
    }

    p {
        font-size: 15px;
        font-weight: 200;
        text-align: left;
    }

    p,
    &__designer h4 {
        margin: 0;
    }

    &__date p,
    &__address span {
        font-weight: 900;
    }

    &__headers,
    &__table,
    &__event,
    &__date,
    &__designer,
    &__address {
        display: flex;
    }

    &__header,
    &__date,
    &__event,
    &__address {
        align-items: flex-start;
    }

    &__header,
    &__date,
    &__designer,
    &__address {
        flex: 1;
    }


    &__title {
        position: relative;
        padding-bottom: 10px;
    }

    &__headers {
        flex-flow: row nowrap;
        display: none;
    }
    &__header {
        &:last-of-type {
            flex: 3;
        }
    }

    &__table {
        flex-flow: column wrap;
        align-self: center;
    } // --> Stacked Event Rows
    &__event {
        flex: 1; // span the full width of table
        flex-flow: row wrap;
        align-items: flex-end;
        border-bottom: 2px solid $black;
        padding: 5px 0;
        &:last-of-type {
            border-bottom: none;
        }
    }
    &__date {
        order: 2; // p {
        //     @extend .small;
        // }
    }
    &__designer {
        order: 1;
        flex: 2;
    }
    &__address {
        order: 3;
        flex-flow: column;
        flex-basis: 100%;
        align-items: flex-start;
        p {
            margin-bottom: 0;
        }
    } // SMALL SCREENS - 768 --> 2 col Event Rows
    @media screen and (min-width: 768px) {
        &__date p {
            font-size: 13px;
        }
        &__designer h4 {
            font-size: 30px;
        }
        &__event {
            padding-bottom: 5px;
            max-height: 70px;
        }
        &__date {
            order: 1;
        }
        &__designer {
            order: 2;
        }
        &__address {
            order: 3;
            flex-basis: unset;
        }
    } // MEDIUM SCREENS - 980 --> 3 col Event Rows
    @media screen and (min-width: 980px) {
        &__table {
            flex-flow: column wrap;
        }
        &__headers {
            display: flex;
        }
        &__header {
            &:last-of-type {
                flex: 4;
            }
        }
        &__designer,
        &__address {
            flex: 2;
        }
    }
}
//============================================ 
// FOOTER CTA
//============================================ 
.footer-cta {
    @include flex-center(column, wrap); // centers child items via flexbox
    position: relative; 
    max-width: 100%;
    &:before {
        content: '';
        position: absolute;
        @include accent--left( $line, 0, 0); // (width, top, left) 
        max-width: 100%; 
        // SMALL SCREENS - 768
        @media screen and (min-width: 768px) {
            padding-right: 0;
            left: -20px;
        } // BREAKPOINT: 1200 
        @media screen and (min-width: 1200px) {
            left: 0;
        } // BREAKPOINT: 1440
        @media screen and (min-width: 1441px) {
            left: -20px;
        }
    }
    &:after {
        content: '';
        position: absolute;
        @include accent--right( $line, 90%, 0); // (width, top, right)
        display: none; // SMALL SCREENS - 768
        @media screen and (min-width: 768px) {
            display: initial;
        }
    }

    &__content {
        align-self: center;
        max-width: 385px;
    }
    &__headline {
        text-align: left;
        margin: 30px 0;
    }
    &__summary {
        padding-bottom: 20px;
    }
    &__form {
        input {
            @extend %input;
            &[type*="email"] {
                margin-bottom: 20px; // SMALL SCREENS - 768
                @media screen and (min-width: 768px) {
                    & {
                        margin-bottom: 50px;
                    }
                }
            }
            &__btn {
                width: 100%;
                @include flex-self(flex-start); 
            }
        }
    }
}
//============================================ 
// COPYRIGHT
//============================================ 
//============================================ 
// FOOTER NAV
//============================================ 