// Still working on this... not for use...yet
%content-padding {
    padding-left: 200;
    padding-right: 200;
}

%large-height {
    height: calc(100vh - 500px) !important;
    min-height: 600px;
}

.sub-hero {
    $parent: &;
    &__section--large {
        @extend %large-height;
        margin: 94px 0;
        padding: 0 60px;
        .row {
            position: relative;
            .social__links {
                height: 70vh;
            }
        }
    }
   
    &__arrow-accent--large {
        @extend .sub-hero__arrow-accent;
        left: 0;
        position: absolute;
        top: 110vh;
        width: 30%;
        z-index: 10;
        &__container {
            @extend .sub-hero__arrow-accent__container;
        }
        svg {
            position: relative;
            height: 70px;
            width: 70px !important;
        }
    }
    &__img {
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
        &--large {
            max-width: 100%;
            min-height: 130vh;
        }
    }
    &__cta--single {
        background: $lt-blue;
        padding: 60px 80px; // transform: translateY(-100px);
        text-align: center;
        h4 {
            display: inline-block;
        }
    }
}