
.blog {
    padding-top: 130px;
    height: calc(100vh - 128px);
    [class*="col-md-"]:first-of-type {
        @extend .blog;
        padding-top: 0;
        z-index: 1;
    }
    &__header {
        .social {
            
            height: 100%;
            width: 100%;
            background: red;
        }
        &__box-1 {
            padding: 100px;
            background: $tan;
        }
        &__box-2 {
            background: $dk-blue;
            padding: 50px 100px;
            h2 {
                @extend %underline;
            }
        }
        &__image {
            max-width: 100%;
            img {
                height: 100%;
                object-fit: cover;
                object-position: center;
                width: 100%;
            }
        }
        &__title {
            h1 {
                span {
                    font-family: $secondary-font;
                    font-weight: 100;
                    font-size: 43px;
                    display: block;
                    padding-bottom: 10px;
                    letter-spacing: -0.1rem;
                }
            }
        }
    }
}