//--------------------------
// Section - Header Large 
//--------------------------

.sub-hero {
    &__section--large {
        margin: 100px 0;
        padding: 0 75px;
        @media (max-width: $bp-lg) {
            padding: 0;
        }
        .row {
            position: relative;
            .col-xs-9 {
                height: 130vh;
            }
        }
        .social__links {
            bottom: 59vh;
            position: absolute;
        }
        // Arrow Box
        &-arrow-accent {
            @extend .sub-hero__section--trio-arrow-accent;
            min-height: 235px;
            min-width: 235px;
            position: relative !important;
            &-container {
                @extend .sub-hero__section--trio-arrow-accent-container;
            }
            svg {
                position: relative;
                height: 70px;
                width: 70px !important;
            }
        }
        // Call To Action
        &-cta {
            background: $lt-blue;
            padding: 80px 80px 60px 12vw;
            @media (max-width: $bp-lg) {
                padding: 80px 80px 60px 24vw;
            }
            @media (max-width: $bp-md) {
                padding: 60px 60px 60px 15.5vw;
            }
            @media (max-width: $bp-sm) {
                padding: 60px;
            }
            h4 {
                display: inline-block;
            }
            &-row {
                bottom: 26vh;
                margin: 0;
                position: absolute !important;
                width: calc(100vw - 120px);
                z-index: 100;
                @media (max-width: $bp-lg) {
                    width: calc(100vw + 15px);
                }
            }
        }
        // Hero Image
        &-img {
            height: 135vh;
            min-height: 1000px;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
        // Header Content
        &-header {
            padding-left: 10.5vw;
            @media (max-width: $bp-lg) and (min-width: $bp-sm + 1px) {
                padding-left: 5vw;
            }
            &-container {
                align-items: flex-end;
                display: flex;
                height: calc(100vh - 185px) !important;
                min-height: 587px;
            }
        }
        &-body {
            margin: 0 50px 60px 20px;
            max-width: 550px;
            @media (max-width: $bp-sm) {
                padding: 0 50px 60px 0;
            }
        }
        // Optional Dropdowns
        &-dropdowns {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            height: 43%;
            justify-content: flex-end;
            margin-bottom: 0;
            min-height: 412px;
            padding-left: calc(10.5vw + 20px);
            @media (max-width: $bp-lg) and (min-width: $bp-sm + 1px) {
                padding-left: calc(5vw + 20px);
            }
            @media (max-width: $bp-md) {
                padding-right: 10.5vw;
            }
            @media (max-width: $bp-sm) {
                padding-left: 10.5vw;
            }
            > *:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}