//--------------------------
// Section - Header Large 
//--------------------------

.sub-hero {
    &__section--large {
        margin: 100px 0;
        padding: 0 75px;
        @media (max-width: $bp-lg) {
            padding: 0;
        }
        .row {
            position: relative;
            .col-xs-9 {
                height: 130vh;
            }
        }
        .social__links {
            bottom: 64vh;
            position: absolute;
        }
        // Arrow Box
        &-arrow-accent {
            @extend .sub-hero__section--trio-arrow-accent;
            min-height: 235px;
            min-width: 235px;
            position: relative !important;
            &-container {
                @extend .sub-hero__section--trio-arrow-accent-container;
            }
            svg {
                position: relative;
                height: 70px;
                width: 70px !important;
            }
        }
        // Call To Action
        &-cta {
            background: $lt-blue;
            padding: 80px 80px 60px 12vw;
            @media (max-width: $bp-lg) {
                padding: 80px 80px 60px 24vw;
            }
            @media (max-width: $bp-sm) {
                padding: 60px;
            }
            h4 {
                display: inline-block;
            }
            &-row {
                bottom: 31vh;
                margin: 0;
                position: absolute !important;
                width: calc(100vw - 120px);
                z-index: 100;
                @media (max-width: $bp-lg) {
                    width: calc(100vw + 15px);
                }
            }
        }
        // Hero Image
        &-img {
            height: 140vh;
            min-height: 1000px;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }
        // Header Content
        &-header {
            padding-left: 10.5vw;
            @media (max-width: $bp-lg) and (min-width: $bp-sm + 1px) {
                padding-left: 5vw;
            }
            &-container {
                align-items: flex-end;
                display: flex;
                height: calc(100vh - 185px) !important;
                min-height: 587px;
            }
        }
        &-body {
            max-width: 550px;
            padding: 0 50px 60px 20px;
            @media (max-width: $bp-sm) {
                padding: 0 50px 60px 0;
            }
        }
        // Optional Dropdowns
        &-dropdowns {
            @extend .sub-hero__section--large-body;
            align-self: flex-end;
            display: flex;
            margin-bottom: 0;
        }
    }
}