.blog__post-snippet {
    border: none;
    padding: 5% 2% 10%;
    position: relative;
    
    &:before {
        @extend %accent-line;
        max-width: 100%;
        left: 0;
        bottom: 0;
    }
    &__title {
        // @extend %underline;
        padding: 0 30px;
        @media screen and (min-width: 768px) {
            margin-bottom: 60px;
        }
        h2 {
            margin-bottom: 5px;
            font-size: 110px;
            line-height: 1;
            span {
                font-family: $secondary-font;
                font-weight: 100;
                font-size: 43px;
                display: inline-block;
                padding-bottom: 10px;
                letter-spacing: -0.1rem;
            }
        }
    }
    &__content {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        padding: 0 30px;
        p {
            flex: 1 100%;
            margin-bottom: 30px;
            @media screen and (min-width: 768px) {
                flex: 1 33%;
                margin-right: 3%;
                margin-bottom: 60px;
                &:last-of-type {
                    margin-right: 17%;
                }
            }
        }
    }
    &__button {
        flex: 1 100%;
    }
}