

.blog__post-snippet {
    padding: 10% 2%;
    position: relative;
    &:before {
        @extend %accent-line;
        max-width: 100%;
        left: 0;
        bottom: 0;
    }
    h2,p {
        margin-bottom: 0;
    }
    &__title {
        @extend %underline;
        padding:0 20px;
        h2 {
            span {
                font-family: $secondary-font;
                font-weight: 100;
                font-size: 43px;
                display: inline-block;
                padding-bottom: 10px;
            }
        }
    }
    &__content {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        padding: 0 20px;
         p {
             flex: 1 100%;
            
         }
        @media screen and (min-width: 768px) {
            p {
                flex: 1 33%;
                margin-right: 3%;
                margin-bottom: 60px;
                &:last-of-type {
                     margin-right: 17%;
                }
             
                
            }
        }
    }
    &__button {
        flex: 1 100%;
    }
}