.blog__post {
    $parent: &;
    margin-top: 200px;
    @media (max-width: $bp-xs) {
        margin-top: 100px;
    }
    &-snippet {
        margin: 0 7.5vw 100px;
        padding: 0 3.5vw 125px;
        position: relative;
        @media (max-width: $bp-md) {
            padding: 0 0 125px;
        }
        @media (max-width: $bp-sm) {
            margin-bottom: 60px;
            padding: 0 0 100px;
        }
        @at-root #{$parent} .row:not(:nth-child(4)) &:after {
            @extend %accent-line;
            bottom: 0;
            left: 0;
            width: 0;
        }
        &__title {
            margin-bottom: 60px;
            padding: 0 30px;
            @media (max-width: $bp-xs) {
                margin-bottom: 0px;
                padding: 0 10px;
            }
            h1 {
                display: block;
                font-size: $h1-size / 1.1;
                white-space: normal;
                @media (max-width: $bp-md) {
                    font-size: $h1-size / 1.5;
                    small {
                        font-size: $h3-size / 1.35;
                    }
                }
                @media (max-width: $bp-sm - 1px) {
                    font-size: $h1-size / 1.75;
                    line-height: 1;
                    small {
                        font-size: $h3-size / 1.75;
                    }
                }
                @media (max-width: $bp-xs - 1px) {
                    font-size: $h2-size / 1.75;
                    small {
                        font-size: $h4-size / 1.5;
                        line-height: 1.1;
                    }
                }
            }
        }
        &__content {
            padding: 0 50px;
            @media (max-width: $bp-md) {
                padding: 0 30px;
            }
            @media (max-width: $bp-xs) {
                padding: 0 10px;
            }
            p {
                margin-bottom: 60px;
                max-width: 900px;
                @media (max-width: $bp-sm) {
                    font-size: $font-base - 2px;
                }
            }
        }
        .txt__columns--2 {
            column-gap: 60px;
        }
    }
}