.pre-footer-content {
    // padding: 60px 49px 20px;
    padding: 5% 40px;
    @media screen and (min-width:$bp-md) {
        // padding: 80px 60px 40px;
        padding: 2% 60px;
    }
    .row {
        flex-flow: row wrap;
        justify-content: center;
        [class*='col-']{
            padding-right: 5%;
            &:not(:last-child) {
                margin-bottom:4%; 
            }
        }
        @media screen and (min-width:$bp-md) {
            flex-flow: row wrap;
        }
    }
    
}