// -------------------------------------------
// 2. HOME - products slider
// -------------------------------------------
// General Product Slider Styles
// $parent: &;

%fontSmall {
    font-family: $secondary-font;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
.slider-products {
    &__section{
        margin-bottom: 60px;
        @at-root.section-slider {
            &__container {
                min-width: 100%;
                overflow: hidden;
                -webkit-overflow-scrolling: touch;
                @media screen and(min-width: $bp-sm) {
                    min-width: 0;
                }
            }
            &__header {
                h2 {
                    font-size: 35px;
                    @media screen and(min-width: $bp-xs) {
                        font-size: 70px;
                    }
                    @media screen and(min-width: $bp-lg) {
                        font-size: $h2-size;
                    }
                }
            }
            &__pagination-fraction {
                &.swiper-pagination-fraction {
                    @extend %fontSmall;
                    font-size: 10px;
                    margin-bottom: 60px;
                    text-align: right;
                    @media screen and (max-width: $bp-sm) {
                        margin-bottom: 30px;
                        text-align: center;
                    }
                }
            }
        }
    }
    
    &__container {
        width: 100%; // margin-bottom: 10px;
    }

    &__wrapper {
        text-align: center; // centers the products witin the slide
    }
    &__slide {
        width: 100%;
    }

    &__product {
        display: inline-block;
        width: 100%;
        max-width: 250px; 
        margin-bottom: 30px;
        &:first-of-type {
            padding-left: 0;
        }
        &:last-of-type,
        &:nth-of-type(2) {
            padding-right: 0;
        }
        &-image {
            max-height: 350px;
            margin-bottom: 35px;
            img {
                max-width: 100%;
            }
        }
        &-content {
            text-align: left;
            h6 {
                margin-bottom: 0;
                &::after {
                    display: none;
                }
            }
            &__price {
                @extend %fontSmall;
                margin-right: 5px;
            }
            &__retail {
                @extend %fontSmall;
                font-size: 10px;
                text-decoration: line-through;
                color: tint($black, 50%);
            }
        }
        @media screen and(min-width: $bp-sm ) {
            // 768px;
            padding-right: 60px;
            &:nth-of-type(2) {
                padding-right: 0px;
            }
        }
        @media screen and(min-width: $bp-md ) {
            // 980px;
            width: 211px;
            &,
            &:nth-of-type(2) {
                padding-right: 21px;
            }
        }
        @media screen and(min-width: $bp-lg ) {
            // 1200px;
            width: 100%;
            &,
            &:nth-of-type(2) {
                padding-right: 49px;
            }
        }
        @media screen and(min-width:1441px) {
            // 1440px;
            &,
            &:nth-of-type(2) {
                padding-right: 129px;
            }
        }
    }
    //  BOTTOM
    &__navigation {
        .navigation-block {
            .product-button-prev,
            .product-button-next {
                @extend %fontSmall;
                background-image: none;
                cursor: pointer;
                display: inline-block;
                font-weight: 900;
                height: unset;
                letter-spacing: 0.3rem;
                margin-bottom: 0;
                padding: 0 11px;
                position: initial;
                text-transform: uppercase;
                width: unset;
            }
        }
    }
}
