// -------------------------------------------
// 2. HOME - products slider
// -------------------------------------------
// General Product Slider Styles
.slider-products {
    &__section-container-1 {
        min-width: 100%;
        @media screen and(min-width: $bp-sm ) {
            min-width: 0;
        }
    }
    &__container {
        width: 100%; // margin-bottom: 10px;
    }

    &__wrapper {
        text-align: center; // centers the products witin the slide
    }
    &__pagination-fraction {
        text-align: right;
        margin-bottom: 60px;
    }
    &__slide {
        width: 100%;
    }

    &__product {
        display: inline-block;
        width: 100%;
        max-width: 250px; // padding: 0;
        margin-bottom: 30px;
        &:first-of-type {
            padding-left: 0;
        }
        &:last-of-type,
        &:nth-of-type(2) {
            padding-right: 0;
        }
        &-image {
            height: 350px;
            margin-bottom: 35px;
            img {
                max-width: 100%;
            }
        }
        &-content {
            text-align: left;
            &__title {
            }
            &__price {
                margin-right: 5px;
            }
            &__retail {
                text-decoration: line-through;
                color: tint($black, 50%);
            }
        }
        @media screen and(min-width: $bp-sm ) {
            // 768px;
            padding-right: 60px;
            &:nth-of-type(2) {
                padding-right: 0px;
            }
        }
        @media screen and(min-width: $bp-md ) {
            // 980px;
            width: 211px;
            &,
            &:nth-of-type(2) {
                padding-right: 21px;
            }
        }
        @media screen and(min-width: $bp-lg ) {
            // 1200px;
            width: 100%;
            &,
            &:nth-of-type(2) {
                padding-right: 49px;
            }
        }
        @media screen and(min-width:1441px) {
            // 1440px;
            &,
            &:nth-of-type(2) {
                padding-right: 129px;
            }
        }
    }
}
//  BOTTOM
&__navigation {
    .navigation-block {
        display: inline-block;
        background: #fff;
        span {
            padding: 0 11px;
        }
        .product-button-prev,
        .swiper-button-prev,
        .product-button-next,
        .swiper-button-next {
            background-image: none;
            position: initial;
            cursor: pointer;
        }
    }
}

#home-your-bridal {
    position: relative;
}