.btf__section--lp {
	background-color: $lt-blue;
	padding-top: 7%;

	&__img {
		background: $lavender no-repeat top center;
		background-blend-mode: soft-light;
		background-size: cover;
		overflow: hidden;
		height: 500px;

		@media (max-width: $bp-lg) {
			height: 450px;
		}
		@media (max-width: $bp-md) {
			height: 400px;
		}
		@media (max-width: $bp-sm) {
			height: 300px;
		}
		@media (max-width: $bp-xs) {
			height: 250px;
		}
	}
	&__txt {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column wrap;
		position: relative;
		max-width: 100%;
		margin-top: -40px;

	    &__content {
			align-self: center;
			max-width: 600px;

			h3 {
				text-align: left;
   				margin: 30px 0;
   				padding: 60px 0px;

   				
   				@media (max-width: $bp-lg) {
					padding: 0px 60px 60px 0px;
				}
   				@media (max-width: $bp-md) {
					padding: 50px;
				}
				@media (max-width: $bp-xs) {
					padding: 40px;
				}
			 }
	   	}
	}
}
.btf__section--lp-row2 {
	&__content {
		padding: 7% 0;

		@media (max-width: $bp-lg) {
			padding-left: 30px;
		}
		@media (max-width: $bp-md) {
			padding: 7%;
		}
		p {
			font-size: $font-sm;
		 }
	}

	.btf__section--lp-row2__img {
		height: 700px;
		max-width: 100%;
		width: 38%;
		margin: -6% 0 -6% 12%;
		object-fit: cover;
		z-index: 100;

		@media (max-width: $bp-lg) {
			height: 85%;
			margin: -3% 0 -6% 10%;
		}

		@media (max-width: $bp-md) {
			margin: 0px auto;
			height: 500px;
			width: 45%;
		}
		@media (max-width: $bp-sm) {
			height: 450px;
			width: 45%;
		}
		@media (max-width: $bp-xs) {
			height: 350px;
			width: 55%;
		}

		&:before {
			top: -5%;
			left: 9%;
			height: 110%;
			width: 100%;
			background-color: $tan;
			z-index: -1;
			content: "";
			position: absolute;

			@media (max-width: $bp-lg) {
				height: 95%;
			}
		}

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			max-width: 100%;	
		}
	}
}
.btf__section--lp-row3 {

	&__accent {
		margin-top: 4%;
		padding: 0;
		z-index: 50;
		overflow: hidden;
		max-height: 420px;

		@media (max-width: $bp-md) {
			display: none;
		}

		.landing-page-btf-row3-section__accent-box {
			background-color: $black;
			width: 70%;
			padding: 100% 0;
			float: right;
		}
	}

	&__content {
		background: $lt-blue no-repeat center right;
    	background-blend-mode: soft-light;
		padding: 8% 7% 8% 14%;
		z-index: 1;

		ul {
			font-family: $secondary-font;
			padding-left: 15px;

			li {
				margin-bottom: 4px;
			}
		}
	}
}