@import url("https://fonts.googleapis.com/css?family=Muli:200,400,600,900|Playfair+Display:400,400i,700,700i,900,900i");
h1 {
  border-bottom: 10px solid #282828;
  margin-bottom: 40px;
  padding: 0 30px 20px 20px; }

h1 {
  color: #282828;
  font-family: "Playfair Display", serif;
  font-size: 160px;
  line-height: 0.85;
  font-weight: 900;
  display: inline-block; }
  h1 small {
    color: inherit;
    font-family: "Muli", sans-serif;
    font-size: 53.33333px;
    font-weight: 200;
    display: block;
    letter-spacing: -2px;
    line-height: 1; }

h2 {
  color: #282828;
  font-family: "Playfair Display", serif;
  font-size: 80px;
  line-height: 1;
  font-weight: 900; }
  h2 small {
    color: inherit;
    font-family: "Muli", sans-serif;
    font-size: 53.33333px;
    font-weight: 200;
    display: block;
    letter-spacing: -2px;
    line-height: 1; }

h3 {
  color: #282828;
  font-family: "Playfair Display", serif;
  font-size: 53.33333px;
  line-height: 1;
  font-weight: 900; }
  @media (max-width: 500px) {
    h3 {
      font-size: 32px; } }

h4 {
  color: #282828;
  font-family: "Playfair Display", serif;
  font-size: 34.66667px;
  line-height: 1;
  font-weight: 900; }

h5 {
  color: #282828;
  font-family: "Playfair Display", serif;
  font-size: 26.66667px;
  line-height: 1;
  font-weight: 900;
  position: relative; }
  h5:before {
    background: #282828;
    bottom: -10px;
    content: '';
    height: 2px;
    left: -50%;
    max-width: 215px;
    position: absolute;
    width: 100%; }
    @media screen and (max-width: 1200px) {
      h5:before {
        left: -9%; } }
    @media screen and (max-width: 992px) {
      h5:before {
        left: -85px; } }

h6 {
  color: #282828;
  font-family: "Playfair Display", serif;
  font-size: 21.66667px;
  line-height: 1;
  font-weight: 900; }

.accent__lines {
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap; }
  .accent__lines > span:before, .accent__lines > span:after {
    background: #282828;
    content: '';
    height: 2px;
    position: absolute;
    width: 1680px; }
  .accent__lines > span {
    display: inline-block;
    position: relative; }
    .accent__lines > span:before {
      bottom: 0;
      margin-right: 15px;
      right: 100%; }
    .accent__lines > span:after {
      bottom: 0;
      left: 100%;
      margin-left: 15px; }

.accent__offset-lines {
  position: relative; }
  .accent__offset-lines:before, .accent__offset-lines:after {
    background: #282828;
    content: '';
    height: 2px;
    max-width: 215px;
    position: absolute;
    width: 100%; }
  .accent__offset-lines:before {
    left: -50%;
    transform: translateX(100%);
    top: 0; }
    @media (max-width: 1200px) {
      .accent__offset-lines:before {
        display: none; } }
  .accent__offset-lines:after {
    bottom: 0;
    transform: translateX(-100%);
    right: -50%; }
    @media (max-width: 1200px) {
      .accent__offset-lines:after {
        display: none; } }

.title__underline {
  margin-bottom: 50px;
  position: relative; }
  .title__underline:before {
    background: #282828;
    bottom: -20px;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    max-width: 215px;
    position: absolute;
    width: 100%; }

p {
  color: #282828;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #282828; }

strong {
  color: inherit;
  font-weight: 900;
  text-transform: uppercase; }

a:hover {
  text-decoration: none; }

.h1-lead, h1-lead {
  font-family: Muli,sans-serif;
  font-weight: 200;
  font-size: 46px;
  letter-spacing: -2.1px;
  color: #8e8e8e; }

[class*='col-'] {
  padding: 0;
  position: relative; }

.col-md-offset-right-1 {
  margin-right: 8.33333%; }
  @media screen and (max-width: 767px) {
    .col-md-offset-right-1 {
      margin-right: 0; } }

.col-md-offset-right-2 {
  margin-right: 16.66667%; }
  @media screen and (max-width: 767px) {
    .col-md-offset-right-2 {
      margin-right: 0; } }

.col-md-offset-right-3 {
  margin-right: 25%; }
  @media screen and (max-width: 767px) {
    .col-md-offset-right-3 {
      margin-right: 0; } }

.col-md-offset-right-4 {
  margin-right: 33.33333%; }
  @media screen and (max-width: 767px) {
    .col-md-offset-right-4 {
      margin-right: 0; } }

.col-md-offset-right-5 {
  margin-right: 41.66667%; }
  @media screen and (max-width: 767px) {
    .col-md-offset-right-5 {
      margin-right: 0; } }

.col-md-offset-right-6 {
  margin-right: 50%; }
  @media screen and (max-width: 767px) {
    .col-md-offset-right-6 {
      margin-right: 0; } }

.col-md-offset-right-7 {
  margin-right: 58.33333%; }
  @media screen and (max-width: 767px) {
    .col-md-offset-right-7 {
      margin-right: 0; } }

.col-md-offset-right-8 {
  margin-right: 66.66667%; }
  @media screen and (max-width: 767px) {
    .col-md-offset-right-8 {
      margin-right: 0; } }

.col-md-offset-right-9 {
  margin-right: 75%; }
  @media screen and (max-width: 767px) {
    .col-md-offset-right-9 {
      margin-right: 0; } }

.col-md-offset-right-10 {
  margin-right: 83.33333%; }
  @media screen and (max-width: 767px) {
    .col-md-offset-right-10 {
      margin-right: 0; } }

.col-md-offset-right-11 {
  margin-right: 91.66667%; }
  @media screen and (max-width: 767px) {
    .col-md-offset-right-11 {
      margin-right: 0; } }

.col-md-offset-right-12 {
  margin-right: 100%; }
  @media screen and (max-width: 767px) {
    .col-md-offset-right-12 {
      margin-right: 0; } }

.row--eq-height {
  display: flex; }

.breadcrumbs {
  display: block;
  list-style-type: none;
  margin-bottom: 40px;
  padding-left: 20px; }
  .breadcrumbs li {
    display: inline-block; }
    .breadcrumbs li a {
      color: #282828;
      font-family: "Playfair Display", serif;
      font-size: 16px;
      line-height: 1;
      font-weight: 400;
      border-bottom: 2px solid #282828;
      padding-bottom: 6px; }
      .breadcrumbs li:last-child a {
        cursor: default;
        pointer-events: none; }
      .breadcrumbs li a:hover {
        text-decoration: none; }
    .breadcrumbs li:not(:last-child) {
      margin-right: 5px; }
      .breadcrumbs li:not(:last-child):after {
        color: #282828;
        font-family: "Playfair Display", serif;
        font-size: 16px;
        line-height: 1;
        font-weight: 400;
        content: '\203A';
        display: inline-block;
        font-weight: 400;
        margin-left: 5px; }

.btn__outline {
  color: #282828;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 900;
  border-bottom: 5px solid #282828;
  color: #282828;
  display: inline-block;
  font-style: italic;
  padding-bottom: 5px; }
  .btn__outline:hover {
    color: unset; }

.input__divide {
  display: flex;
  margin-bottom: 75px; }
  .input__divide > * {
    flex-grow: 1;
    margin: 0 10px; }
    .input__divide > *:first-child {
      margin-left: 0; }
    .input__divide > *:last-child {
      margin-right: 0; }

.input__label {
  align-self: flex-end;
  padding-bottom: 18px;
  white-space: nowrap; }

.input__field, .input__dropdown, .input__calendar, .input__textarea {
  color: #282828;
  font-family: "Playfair Display", serif;
  font-size: 34.66667px;
  line-height: 1.5;
  font-weight: 900;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-bottom: 1px solid #282828;
  color: #282828;
  outline: none;
  padding-bottom: 10px;
  width: 100%; }
  .input__field--on-bg {
    color: #282828;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    border: none;
    box-shadow: none;
    color: #282828;
    font-style: italic;
    margin-bottom: 50px;
    outline: none;
    padding: 20px;
    width: 100%;
    vertical-align: middle; }
    .input__field--on-bg ::-webkit-input-placeholder {
      color: inherit; }
    .input__field--on-bg :-moz-placeholder {
      color: inherit; }
    .input__field--on-bg ::-moz-placeholder {
      color: inherit; }
    .input__field--on-bg :-ms-input-placeholder {
      color: inherit; }

.input__dropdown, .input__calendar {
  background: transparent url("data:image/svg+xml;utf8,<svg class='svg-inline--fa fa-angle-down fa-w-10' aria-hidden='true' data-fa-processed='' data-prefix='fas' data-icon='angle-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><path fill='currentColor' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'></path></svg>") no-repeat center right;
  background-size: 40px 40px;
  border-radius: 0;
  cursor: pointer; }

.input__calendar {
  background: transparent url("data:image/svg+xml;utf8,<svg class='svg-inline--fa fa-calendar-alt fa-w-14' aria-hidden='true' data-fa-processed='' data-prefix='far' data-icon='calendar-alt' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='currentColor' d='M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z'></path></svg>") no-repeat center right;
  background-size: 35px 35px; }

.input__range {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white;
  border: 1px solid #c9c9c9;
  border-radius: 0;
  height: 15px;
  left: 0;
  margin: 0;
  padding: 0;
  outline: none;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  top: 27px;
  width: 100%; }
  .input__range::-moz-range-track {
    background-color: #282828;
    border: 0;
    position: relative;
    z-index: -1; }
  .input__range:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0; }
  .input__range::-moz-focus-outer {
    border: 0; }
  .input__range--container {
    position: relative; }
  .rangeValues {
    color: #282828;
    font-family: "Muli", sans-serif;
    font-size: 34.66667px;
    line-height: 1;
    font-weight: 600;
    font-variant-numeric: lining-nums;
    position: absolute;
    top: -15px; }

.input__textarea {
  height: 80px;
  overflow: hidden;
  resize: none; }

.input__extend {
  width: 200%; }

.input__submit {
  color: #282828;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  line-height: 1;
  font-weight: 900;
  background: #282828;
  color: white;
  display: block;
  font-style: italic;
  margin: 60px auto 0;
  padding: 50px;
  text-align: center;
  width: 50vw; }
  .input__submit:hover {
    color: white;
    text-decoration: none; }

::-webkit-input-placeholder {
  color: #282828; }

:-moz-placeholder {
  color: #282828; }

::-moz-placeholder {
  color: #282828; }

:-ms-input-placeholder {
  color: #282828; }

.pagination__prev {
  background: #f2d0a4;
  display: flex;
  height: 230px; }
  .pagination__prev .btn_outline {
    align-self: center; }

.pagination__links {
  list-style-type: none;
  margin-top: 20px; }
  .pagination__links li {
    display: inline-block; }
  .pagination__links a {
    color: #282828;
    font-family: "Muli", sans-serif;
    font-size: 16px;
    line-height: 1;
    font-weight: 200; }
    .pagination__links a:not(:last-child) {
      margin-right: 10px; }
      .pagination__links a:not(:last-child):after {
        content: '/';
        display: block;
        font-family: inherit;
        font-weight: 200;
        margin-right: 10px; }
    .pagination__links a.selected {
      font-weight: 900; }

.social__links {
  bottom: 40px;
  left: 0;
  position: absolute; }
  .social__links a {
    color: #282828;
    display: block;
    font-size: 21px;
    text-align: center;
    transition: all 0.2s ease-in; }
    .social__links a:not(:last-child) {
      margin-bottom: 10px; }
    .social__links a:hover {
      color: #5b5b5b; }

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.sub-hero__section--trio .col-md-7, .sub-hero__img-hero {
  height: calc(100vh - 185px) !important;
  min-height: 600px; }

.sub-hero__section--trio {
  margin: 94px 0;
  padding: 0 60px; }
  .sub-hero__section--trio .row {
    position: relative; }
    .sub-hero__section--trio .row:last-child {
      transform: translateY(-1px); }
  .sub-hero__section--trio .col-md-7 {
    align-items: flex-end;
    display: flex;
    padding: 0 0 100px;
    z-index: 100; }
    .sub-hero__section--trio .col-md-7 .trio__header p {
      margin-bottom: 0;
      margin-left: 20px;
      width: 50%; }

.sub-hero__description {
  padding-left: 20px; }

.sub-hero__img, .sub-hero__img-hero {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%; }

.sub-hero__arrow-accent {
  align-items: center;
  background: #f2d0a4;
  content: '';
  display: flex;
  height: 30%;
  min-height: 250px;
  min-width: 250px;
  right: 0;
  position: absolute;
  top: 0;
  width: 30%;
  z-index: 10; }
  .sub-hero__arrow-accent__container {
    margin: 0 auto;
    position: relative; }
    .sub-hero__arrow-accent__container:after {
      background: #282828;
      bottom: -20px;
      content: '';
      height: 5px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 225%; }
  .sub-hero__arrow-accent svg {
    position: relative;
    height: 70px;
    width: 70px !important; }

.sub-hero__cta {
  background: #c5eff7;
  padding: 200px 80px 60px;
  transform: translateY(-100px); }

.scrollmagic-pin-spacer {
  position: absolute !important;
  width: calc(100% - 100px) !important; }

#mapPin {
  position: relative; }

.map {
  padding: 40px 0; }
  .map__column {
    position: relative;
    padding: 0 50px;
    min-height: 700px; }
    .map__column--accent {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% + 60px);
      background-color: #f2d0a4;
      margin-left: -30px;
      margin-top: -30px;
      margin-bottom: -30px; }
    .map__column--container {
      height: 600px;
      margin: 30px;
      width: calc(100%);
      transform: translateX(-30px); }
  .map--moving .map__column--accent {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%; }

.location__column--node {
  cursor: pointer;
  margin: 0 0 0 40px;
  padding: 0 0 30px 20px;
  border-collapse: collapse;
  transition: all 175ms ease-in; }
  .location__column--node h4 {
    margin: 0;
    padding: 10px 0; }
    .location__column--node h4::after {
      content: '';
      display: block;
      height: 2px;
      background-color: #282828;
      width: 215px;
      margin: 20px 0; }
  .location__column--node p {
    margin-bottom: 0; }
  .location__column--node:first-child h4 {
    padding-top: 22px; }
  .location__column--node:not(:first-child) {
    border-top: 2px solid black;
    margin-top: -2px; }
    .location__column--node:not(:first-child) h4 {
      margin-top: 30px; }
  .location__column--node:not(:last-child) {
    border-bottom: 2px solid black; }
  .location__column--node:hover {
    margin-left: 0;
    padding-left: 60px;
    background-color: #c5eff7; }

.footer {
  padding: 0 60px; }
  @media (max-width: 768px) {
    .footer {
      padding: 0; } }
  .footer p {
    font-size: 14px; }
  @media (max-width: 1200px) {
    .footer .row--eq-height:first-child {
      display: block;
      margin: 0;
      padding: 0 60px; } }
  @media (max-width: 500px) {
    .footer .row--eq-height:first-child {
      padding: 0 40px !important; } }
  .footer__top {
    padding: 60px 0 80px; }
    @supports (background-blend-mode: soft-light) {
      .footer__top {
        background: #c5eff7 url("../images/hero.png") no-repeat center right;
        background-blend-mode: soft-light; }
        @media (max-width: 768px) {
          .footer__top {
            background-position: bottom center; } } }
    @supports not (background-blend-mode: soft-light) {
      .footer__top {
        background: #c5eff7; } }
    .footer__events .title__underline {
      margin-bottom: 60px; }
      @media (max-width: 1200px) {
        .footer__events .title__underline {
          margin-bottom: 40px; } }
    @media (max-width: 1200px) {
      .footer__table {
        margin-bottom: 80px; } }
    @media (max-width: 500px) {
      .footer__table {
        margin-bottom: 40px; } }
    .footer__table--row {
      align-items: flex-end;
      margin: 0; }
      @media (max-width: 768px) {
        .footer__table--row {
          display: block; }
          .footer__table--row:not(:last-child) {
            margin-bottom: 20px; }
          .footer__table--row > * {
            margin-bottom: 15px; } }
      .footer__table--row:not(:first-child) {
        border-bottom: 2px solid #282828;
        padding: 10px 0; }
      .footer__table--row h4 {
        margin: 0; }
      .footer__table--row p {
        margin-bottom: -2px; }
    @media (max-width: 768px) {
      .footer__table-category {
        display: none; } }
    @media (max-width: 768px) {
      .footer__table-address {
        margin-bottom: 0 !important; } }
    .footer__table-address strong {
      text-transform: initial !important; }
    .footer__cta {
      align-self: center;
      padding: 0 2.5%;
      transform: translateY(20px); }
      @media (max-width: 1200px) {
        .footer__cta {
          padding: 0; } }
      .footer__cta p {
        margin: 30px 0; }
    .footer__top .accent__offset-lines:before {
      top: -15px; }
    .footer__top .accent__offset-lines:after {
      bottom: 30px; }
  .footer__middle {
    background: #e396df;
    margin: 50px 0;
    padding: 60px 40px;
    text-align: center; }
    @media (max-width: 992px) {
      .footer__middle span:last-child {
        display: block; } }
    @media (max-width: 500px) {
      .footer__middle span {
        display: block; }
        .footer__middle span:not(:last-child) {
          margin-bottom: 5px; } }
    .footer__middle p {
      color: white;
      letter-spacing: 2px;
      margin-bottom: 0;
      text-transform: uppercase; }
      @media (max-width: 500px) {
        .footer__middle p {
          font-size: 13px; } }
    .footer__middle strong {
      color: #282828; }
    .footer__middle .accent__offset-lines:before {
      left: -35%;
      top: -20px; }
    .footer__middle .accent__offset-lines:after {
      bottom: -20px;
      right: -35%; }
  @media (max-width: 768px) {
    .footer__bottom {
      margin: 0;
      padding: 0 75px; } }
  @media (max-width: 500px) {
    .footer__bottom {
      padding: 0 60px; } }
  .footer__nav {
    padding: 15px 0 0; }
    @media (max-width: 1200px) {
      .footer__nav {
        margin-bottom: 40px; } }
    .footer__nav li {
      list-style-type: none; }
      .footer__nav li a {
        color: #949494 !important;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 2.5;
        text-transform: uppercase; }
  .footer__seo {
    color: #949494 !important;
    line-height: 1.75;
    padding: 60px 0 0; }
    @media (max-width: 768px) {
      .footer__seo {
        padding: 0; } }
  .footer__end {
    margin-left: -15px;
    padding: 40px 0; }
    @media (max-width: 768px) {
      .footer__end {
        margin: 0;
        padding: 40px 75px; } }
    @media (max-width: 500px) {
      .footer__end {
        padding: 40px 60px; } }
    .footer__end-links a {
      color: #949494 !important;
      display: inline-block;
      position: relative; }
      .footer__end-links a:not(:last-child):after {
        content: '|';
        display: inline-block;
        margin: 0 10px; }

.navbar {
  background: white;
  border: none;
  /* adjust the vh of .swiper-container to equal 100vh */
  margin-bottom: 0;
  /* override bootstrap default value */
  /* &.navbar-fixed-top {
		box-shadow: 1px 16px 51px -10px rgba(0, 0, 0, 0.16);
		-webkit-box-shadow: 1px 16px 51px -10px rgba(0, 0, 0, 0.16);
		-moz-box-shadow: 1px 16px 51px -10px rgba(0, 0, 0, 0.16);
	} */ }
  .navbar-brand {
    padding-top: 40px;
    height: 100%; }
    @media (max-width: 768px) {
      .navbar-brand {
        padding-top: 12px; } }
    .navbar-brand img {
      height: auto;
      width: 230px;
      max-width: 100%; }
      @media (max-width: 992px) {
        .navbar-brand img {
          width: 185px; } }
  .navbar .container-fluid {
    padding-left: 45px;
    padding-right: 45px; }
    @media (max-width: 1200px) {
      .navbar .container-fluid {
        padding-left: 15px;
        padding-right: 15px; } }
  .navbar .navbar-toggle .collapsed {
    padding-top: 40px; }
  .navbar .navbar-nav {
    padding-top: 40px; }
    @media (max-width: 992px) {
      .navbar .navbar-nav {
        padding-top: 30px; } }
    @media (max-width: 768px) {
      .navbar .navbar-nav {
        padding-top: 12px; } }
    .navbar .navbar-nav > .nav-item {
      color: #282828;
      font-family: "Playfair Display", serif;
      font-weight: 900;
      margin-right: 25px;
      border: 1px solid #ffffff; }
      @media (max-width: 992px) {
        .navbar .navbar-nav > .nav-item {
          margin-right: 10px; } }
      .navbar .navbar-nav > .nav-item > a {
        color: inherit; }
        @media (max-width: 992px) {
          .navbar .navbar-nav > .nav-item > a {
            padding: 10px 7px; } }
      .navbar .navbar-nav > .nav-item-last {
        margin-right: 100px; }
        @media (max-width: 1200px) {
          .navbar .navbar-nav > .nav-item-last {
            margin-right: 40px; } }
      .navbar .navbar-nav > .nav-item .dropdown-menu.show {
        position: fixed;
        top: 92px;
        left: 0;
        background-color: rgba(255, 255, 255, 0.95);
        height: calc(100vh - 92px);
        width: 100%;
        border: none;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .navbar .navbar-nav > .nav-item .dropdown-menu.show .dropdown-menu-category-row {
          width: 100%;
          padding: 35px 50px 0px 50px; }
          @media (max-width: 768px) {
            .navbar .navbar-nav > .nav-item .dropdown-menu.show .dropdown-menu-category-row {
              padding: 10px 25px 0px 25px; } }
          .navbar .navbar-nav > .nav-item .dropdown-menu.show .dropdown-menu-category-row .dropdown-menu-category-col-heading {
            display: inline-block;
            width: 25%;
            padding-left: 82px;
            vertical-align: top; }
            @media (max-width: 992px) {
              .navbar .navbar-nav > .nav-item .dropdown-menu.show .dropdown-menu-category-row .dropdown-menu-category-col-heading {
                width: 100%; } }
            .navbar .navbar-nav > .nav-item .dropdown-menu.show .dropdown-menu-category-row .dropdown-menu-category-col-heading h6 {
              padding-top: 20px; }
              .navbar .navbar-nav > .nav-item .dropdown-menu.show .dropdown-menu-category-row .dropdown-menu-category-col-heading h6:before {
                width: 175px;
                left: -82px;
                max-width: unset;
                height: 2px;
                background: #22313f;
                content: ''; }
          .navbar .navbar-nav > .nav-item .dropdown-menu.show .dropdown-menu-category-row .dropdown-menu-category-col-menu-container {
            display: inline-block;
            width: 70%;
            vertical-align: top; }
            @media (max-width: 992px) {
              .navbar .navbar-nav > .nav-item .dropdown-menu.show .dropdown-menu-category-row .dropdown-menu-category-col-menu-container {
                width: 100%; } }
            .navbar .navbar-nav > .nav-item .dropdown-menu.show .dropdown-menu-category-row .dropdown-menu-category-col-menu-container .dropdown-menu-category-col-menu {
              display: inline-block;
              width: 50%;
              vertical-align: top;
              float: left;
              padding-bottom: 35px; }
              @media (max-width: 768px) {
                .navbar .navbar-nav > .nav-item .dropdown-menu.show .dropdown-menu-category-row .dropdown-menu-category-col-menu-container .dropdown-menu-category-col-menu {
                  width: 100%; } }
              .navbar .navbar-nav > .nav-item .dropdown-menu.show .dropdown-menu-category-row .dropdown-menu-category-col-menu-container .dropdown-menu-category-col-menu .dropdown-menu-category-label {
                font-family: "Muli", sans-serif;
                text-transform: uppercase;
                font-size: 11px;
                letter-spacing: 1px; }
              .navbar .navbar-nav > .nav-item .dropdown-menu.show .dropdown-menu-category-row .dropdown-menu-category-col-menu-container .dropdown-menu-category-col-menu ul {
                font-family: "Muli", sans-serif;
                text-transform: uppercase;
                font-size: 11px;
                letter-spacing: 1px; }
                .navbar .navbar-nav > .nav-item .dropdown-menu.show .dropdown-menu-category-row .dropdown-menu-category-col-menu-container .dropdown-menu-category-col-menu ul li {
                  padding-bottom: 8px; }
                  .navbar .navbar-nav > .nav-item .dropdown-menu.show .dropdown-menu-category-row .dropdown-menu-category-col-menu-container .dropdown-menu-category-col-menu ul li a {
                    color: #8e8e8e; }
        .navbar .navbar-nav > .nav-item .dropdown-menu.show .dropdown-menu-custom-close-container {
          position: absolute;
          bottom: 30px;
          right: 30px; }
          .navbar .navbar-nav > .nav-item .dropdown-menu.show .dropdown-menu-custom-close-container:hover {
            cursor: pointer; }
          .navbar .navbar-nav > .nav-item .dropdown-menu.show .dropdown-menu-custom-close-container .dropdown-menu-custom-close-txt {
            font-family: "Muli", sans-serif;
            text-transform: uppercase;
            font-size: 11px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 19px 6px;
            vertical-align: top; }
          .navbar .navbar-nav > .nav-item .dropdown-menu.show .dropdown-menu-custom-close-container .dropdown-menu-custom-close-btn {
            font-size: 30px;
            line-height: 30px;
            padding-top: 8px;
            text-align: center;
            border: 2px solid #282828;
            border-radius: 100px;
            height: 50px;
            width: 50px;
            text-align: center;
            display: inline-block; }
    .navbar .navbar-nav .nav-item.show {
      border: 1px solid #e396df; }
      .navbar .navbar-nav .nav-item.show .dropdown-toggle {
        background-color: transparent;
        color: #e396df; }
    .navbar .navbar-nav > .nav-icon {
      padding-left: 0;
      padding-right: 0; }
      @media (max-width: 768px) {
        .navbar .navbar-nav > .nav-icon {
          width: 42px;
          display: inline-block; } }
      .navbar .navbar-nav > .nav-icon > a {
        color: #282828; }
        @media (max-width: 992px) {
          .navbar .navbar-nav > .nav-icon > a {
            padding: 10px 7px; } }
        .navbar .navbar-nav > .nav-icon > a .svg-inline--fa {
          z-index: 10; }
        .navbar .navbar-nav > .nav-icon > a .nav-icon-counter {
          float: right;
          position: relative;
          color: #ffffff;
          background-color: #e396df;
          padding-top: 3px;
          border-radius: 50px;
          height: 18px;
          width: 18px;
          margin: 9px 0 0 -11px;
          font-size: 12px;
          line-height: 12px;
          font-weight: 700;
          z-index: 1;
          text-align: center; }

.about-main-section {
  margin-top: 100px;
  overflow: hidden; }
  .about-main-section .row {
    margin: 0; }
    .about-main-section .row .col-lg-12 {
      height: 87vh;
      text-align: center; }
      .about-main-section .row .col-lg-12 img {
        position: absolute;
        height: 98%;
        left: 26%;
        bottom: 0; }
      .about-main-section .row .col-lg-12 .about-main-section-txt {
        margin: 10% 14% 0% 14%;
        max-width: 530px;
        position: relative; }
        .about-main-section .row .col-lg-12 .about-main-section-txt .about-main-section-breadcrumbs {
          font-family: "Playfair Display", serif;
          text-align: left;
          font-size: 21px;
          padding-left: 5%; }
          .about-main-section .row .col-lg-12 .about-main-section-txt .about-main-section-breadcrumbs a {
            border-bottom: 2px solid #282828; }
            .about-main-section .row .col-lg-12 .about-main-section-txt .about-main-section-breadcrumbs a:hover {
              text-decoration: none;
              cursor: pointer; }
        .about-main-section .row .col-lg-12 .about-main-section-txt .about-main-section-headline h1 {
          padding: 0 5% 20px 5%;
          margin-top: 0; }
        .about-main-section .row .col-lg-12 .about-main-section-txt .about-main-section-headline .h1-xl {
          font-size: 140px; }
      .about-main-section .row .col-lg-12 .about-main-section-btn {
        position: absolute;
        bottom: 0;
        margin: 0px auto;
        background-color: #ccc;
        width: 50%;
        text-align: center;
        left: 25%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 3% 2%;
        background: rgba(227, 150, 223, 0.7);
        max-width: 80%;
        max-height: 50%;
        max-width: 1300px;
        z-index: 2; }
        .about-main-section .row .col-lg-12 .about-main-section-btn a {
          color: #ffffff;
          text-align: center;
          font-family: "Playfair Display", serif;
          font-style: italic;
          font-weight: 700;
          font-size: 21px;
          margin: 0px auto;
          display: block;
          border-bottom: 3px solid #ffffff; }
          .about-main-section .row .col-lg-12 .about-main-section-btn a:hover {
            text-decoration: none; }
      .about-main-section .row .col-lg-12 .social-icons {
        padding: 0 0 40px 50px;
        position: absolute;
        bottom: 0; }
        .about-main-section .row .col-lg-12 .social-icons .social-icon {
          display: block;
          margin-bottom: 13px; }

.landing-page-btf-section {
  background-color: #c5eff7;
  padding-top: 9%; }
  .landing-page-btf-section .landing-page-btf-section-img img {
    width: 70%;
    bottom: 0;
    left: 0; }
  .landing-page-btf-section .landing-page-btf-section-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    position: relative;
    max-width: 100%;
    margin-top: -40px; }
    .landing-page-btf-section .landing-page-btf-section-txt:before {
      max-width: 100%; }
      @media screen and (min-width: 768px) {
        .landing-page-btf-section .landing-page-btf-section-txt:before {
          padding-right: 0;
          left: -20px; } }
      @media screen and (min-width: 1200px) {
        .landing-page-btf-section .landing-page-btf-section-txt:before {
          left: 0; } }
      @media screen and (min-width: 1441px) {
        .landing-page-btf-section .landing-page-btf-section-txt:before {
          left: -20px; } }
    .landing-page-btf-section .landing-page-btf-section-txt:after {
      content: '';
      position: absolute;
      display: none; }
      @media screen and (min-width: 768px) {
        .landing-page-btf-section .landing-page-btf-section-txt:after {
          display: initial; } }
    .landing-page-btf-section .landing-page-btf-section-txt .landing-page-btf-section-txt__content {
      align-self: center;
      max-width: 500px; }
      .landing-page-btf-section .landing-page-btf-section-txt .landing-page-btf-section-txt__content h3 {
        text-align: left;
        margin: 30px 0; }

.landing-page-btf-row2-section {
  background-color: #ffffff; }

/*# sourceMappingURL=style.css.map */