@import './bootstrap/bootstrap';
@import './bootstrap/bootstrap-grid';
@import './bootstrap/bootstrap-reboot';

@import './config/fonts';
@import './config/variables';
@import './config/mixins';
@import './config/globals';

// MODULES
@import './config/modules/buttons';
@import './config/modules/footer';



body {
    padding: 50px;
}