// @import './bootstrap/bootstrap';
// @import './bootstrap/bootstrap-grid';
// @import './bootstrap/bootstrap-reboot';

@import './config/fonts';
@import './config/variables';
@import './config/mixins';
@import './config/globals';
@import './config/modules';
<<<<<<< HEAD
//@import './config/footer';
=======
@import './config/footer';
@import './config/navigation';
>>>>>>> d477e573e7ff7b447d06021b049a3da5b31ca641
