.about-main-section {
	margin-top: 100px;
	overflow: hidden;

	.row {
		margin: 0;

		.col-lg-12 {
			height: 87vh;
			text-align: center; 

			img {
				position: absolute;
				height: 98%;
				left: 26%;
				bottom: 0;
			}
			.about-main-section-txt {
				margin: 10% 14% 0% 14%;
				max-width: 530px;
				position: relative;

				.about-main-section-breadcrumbs {
					font-family: $primary-font;
					text-align: left;
					font-size: $font-lg;
					padding-left: 5%;

					a {
						border-bottom: 2px solid $black;

						&:hover {
							text-decoration: none;
							cursor: pointer;
						}
					}
				}
				.about-main-section-headline {
		
					h1 {
						padding: 0 5% 20px 5%;
						margin-top: 0;
					}
					.h1-xl {
						font-size: 140px;
					}
				}
			}
			.about-main-section-btn {
				position: absolute;
				bottom: 0;
				margin: 0px auto;
				background-color: #ccc;
				width: 50%;
				text-align: center;
				left: 25%;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
				padding: 3% 2%;
				background: rgba( $lavender, .7 );
				max-width: 80%;
				max-height: 50%;
				max-width: 1300px;
	    		z-index: 2;

	    		a {
	    			color: $white;
	    			text-align: center;
	    			font-family: $primary-font;
	    			font-style: italic;
	    			font-weight: 700;
	    			font-size: $font-lg;
	    			margin: 0px auto;
	    			display: block;
	    			border-bottom: 3px solid $white;

	    			&:hover {
	    				text-decoration: none;
	    			}
	    		}
			}
			.social-icons  {
				padding: 0 0 40px 50px;
				position: absolute;
				bottom: 0;

				.social-icon {
					display: block;
					margin-bottom: 13px;
				}
			}
		}
	}
}
.landing-page-btf-section {
	background-color: $lt-blue;
	padding-top: 9%;

	.landing-page-btf-section-img {

		img {
			width: 70%;
			bottom: 0;
			left: 0;
		}
	}
	.landing-page-btf-section-txt {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column wrap;
		position: relative;
		max-width: 100%;
		margin-top: -40px;

		 &:before {
	        @extend %psuedo;
	        @include accent--left( $line, 0, 0); // (width, top, left) 
	        max-width: 100%; // SMALL SCREENS - 768
	        @media screen and (min-width: 768px) {
	            padding-right: 0;
	            left: -20px;
	        } // BREAKPOINT: 1200 
	        @media screen and (min-width: 1200px) {
	            left: 0;
	        } // BREAKPOINT: 1440
	        @media screen and (min-width: 1441px) {
	            left: -20px;
	        }
	    }
	    &:after {
	        @extend %psuedo;
	        @include accent--right( $line, 90%, 0); // (width, top, right)
	        display: none; // SMALL SCREENS - 768
	        @media screen and (min-width: 768px) {
	            display: initial;
	        }
	    }
	    .landing-page-btf-section-txt__content {
			align-self: center;
			max-width: 500px;

			h3 {
				text-align: left;
   				margin: 30px 0;
			 }
	   	}
	}
}
.landing-page-btf-row2-section {
	background-color: $white;
}