.sub-hero__section--about {
	margin-top: 94px;
    padding: 0 60px;
	overflow: hidden;

	@media (max-width: $bp-md) {
		padding-right: 0;
		margin-top: 59px;
	}

	.row {
		position: relative;

		.sub-hero__section--about-txt {
			align-items: center;
			display: flex;
			padding: 0 0 100px;
			z-index: 100;
			height: calc(100vh - 185px) !important;
			min-height: 600px;

			.breadcrumbs {
				text-align: left;

			}
			.about-main-section-headline {
	
				h1 {
					padding: 0 5% 20px 5%;
					margin-top: 0;
					text-align: left;
				}
			}
		}
		.sub-hero__img-hero-container {
			display: flex;
			align-items: end;
			height: calc(100vh - 185px) !important;

			.sub-hero__img-hero {
				position: absolute;
				bottom: 0;
			    object-fit: initial;
				z-index: -1;
				object-position: bottom;
				vertical-align: bottom;
				height: 100% !important;
				width: auto;

				@media (max-width: $bp-lg) {
					object-fit: cover;
					width: auto;
				}
			}
		}
		.about-main-section-btn {
			position: absolute;
			bottom: 0;
			margin: 0px auto;
			width: 50%;
			text-align: center;
			left: 25%;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			padding: 3% 2%;
			max-width: 80%;
			max-height: 50%;
			max-width: 1300px;
			z-index: 2;
			@supports (mix-blend-mode: hard-light) {
				background: $lavender;
				mix-blend-mode: hard-light;
			}
			@supports not (mix-blend-mode: hard-light) {
				background: rgba( $lavender, .7 );
			}

    		a {
    			color: $white;
    			text-align: center;
    			font-family: $primary-font;
    			font-style: italic;
    			font-weight: 700;
    			font-size: $button-size;
    			margin: 0px auto;
    			display: block;
    			border-bottom: 3px solid $white;

    			&:hover {
    				text-decoration: none;
    			}
    		}
		}
		.social-icons  {
			padding: 0 0 40px 50px;
			position: absolute;
			bottom: 0;

			.social-icon {
				display: block;
				margin-bottom: 13px;
			}
		}
	}
}