// -----------------------
// Footer
// -----------------------

.footer {
    $parent: &;
    padding: 0 60px;
    @media (max-width: $bp-sm) {
        padding: 0;
    }
    p {
        font-size: $font-sm;
    }
    .row--eq-height:first-child {
        @media (max-width: $bp-lg) {
            display: block;
            margin: 0;
            padding: 0 60px;
        }
        @media (max-width: $bp-xs) {
            padding: 0 40px !important;
        }
    }
    // Top Section
    &__top {
        padding: 60px 0 80px;
        @supports (background-blend-mode: soft-light) {
            background: $lt-blue url('../images/hero.png') no-repeat center right;
            background-blend-mode: soft-light;
            @media (max-width: $bp-sm) {
                background-position: bottom center;
            }
        }
        @supports not (background-blend-mode: soft-light) { // Fallback for no blend-mode support
            background: $lt-blue;
        }
        // Events Container
        @at-root #{$parent}__events {
            .title__underline {
                margin-bottom: 60px;
                @media (max-width: $bp-lg) {
                    margin-bottom: 40px;
                }
            }
        }
        // Events Table
        @at-root #{$parent}__table {
            @media (max-width: $bp-lg) {
                margin-bottom: 80px;
            }
            @media (max-width: $bp-xs) {
                margin-bottom: 40px;
            }
            &--row {
                align-items: flex-end;
                margin: 0;
                @media (max-width: $bp-sm) {
                    display: block;
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                    > * {
                        margin-bottom: 15px;
                    }
                }
                &:not(:first-child) {
                    border-bottom: 2px solid $black;
                    padding: 10px 0;
                }
                h4 {
                    margin: 0;
                }
                p {
                    margin-bottom: -2px;
                }
            }
            &-category {
                @media (max-width: $bp-sm) {
                    display: none;
                }
            }
            &-address {
                @media (max-width: $bp-sm) {
                    margin-bottom: 0 !important;
                }
                strong {
                    text-transform: initial !important;
                }
            }
        }
        // Call To Action
        @at-root #{$parent}__cta {
            align-self: center;
            padding: 0 2.5%;
            transform: translateY(20px);
            @media (max-width: $bp-lg) {
                padding: 0;
            }
            p {
                margin: 30px 0;
            }
        }
        .accent__offset-lines {
            &:before {
                top: -15px;
            }
            &:after {
                bottom: 30px;
            }
        }
    }
    // Middle Section
    &__middle {
        background: $lavender;
        margin: 50px 0;
        padding: 60px 40px;
        text-align: center;
        span {
            @media (max-width: $bp-md) {
                &:last-child {
                    display: block;
                }
            }
            @media (max-width: $bp-xs) {
                display: block;
                &:not(:last-child) {
                    margin-bottom: 5px;
                }
            }
        }
        p {
            color: white;
            letter-spacing: 2px;
            margin-bottom: 0;
            text-transform: uppercase;
            @media (max-width: $bp-xs) {
                font-size: $font-xs;
            }
        }
        strong {
            color: $black;
        }
        .accent__offset-lines {
            &:before {
                left: -35%;
                top: -20px;
            }
            &:after {
                bottom: -20px;
                right: -35%;
            }
        }
    }
    // Bottom Section
    &__bottom {
        @media (max-width: $bp-sm) {
            margin: 0;
            padding: 0 75px;
        }
        @media (max-width: $bp-xs) {
            padding: 0 60px;
        }
        // Footer Navigation
        @at-root #{$parent}__nav {
            padding: 15px 0 0;
            @media (max-width: $bp-lg) {
                margin-bottom: 40px;
            }
            li {
                list-style-type: none;
                a {
                    color: tint($black, 50%) !important;
                    font-size: $font-xs;
                    font-weight: 500;
                    letter-spacing: 1px;
                    line-height: 2.5;
                    text-transform: uppercase;
                }
            }
        }
        // SEO Text
        @at-root #{$parent}__seo {
            color: tint($black, 50%) !important; 
            line-height: 1.75;
            padding: 60px 0 0;
            @media (max-width: 768px) {
                padding: 0;
            }
        }
    }
    // End Section
    &__end {
        margin-left: -15px;
        padding: 40px 0;
        @media (max-width: $bp-sm) {
            margin: 0;
            padding: 40px 75px;
        }
        @media (max-width: $bp-xs) {
            padding: 40px 60px;
        }
        &-links a {
            color: tint($black, 50%) !important;
            display: inline-block;
            position: relative;
            &:not(:last-child):after {
                content: '|';
                display: inline-block;
                margin: 0 10px;
            }
        }
    }
}