@import './variables';
@import './mixins';
@import './globals/typography';

// Normalize All Box Sizing
*, *::before, *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Remove link styles
li {
    list-style: none;
    
}
a {
    color: unset;
}