//============================================
// NAVIGATION
//============================================ 
//  This file contains all styles related to all NAVIGATION of the site/application.
// 
//  1. MAIN
//  2. 
//  3. 
//============================================ 
// -------------------------------------------
// 1. MAIN
// -------------------------------------------
.navbar {
    background: white;
    border: none;
    // height: 13vh;
    /* adjust the vh of .swiper-container to equal 100vh */
    // padding-top: 40px;
    margin-bottom: 0;
    /* override bootstrap default value */
    &-brand {
        padding-top: 40px;
        height: 100%;
        img {
            height: auto;
            width: 230px;
            max-width: 100%;
        }
    }
    .navbar-toggle {
        .collapsed {
            padding-top: 40px;
        }
    }
    .navbar-nav {
        padding-top: 40px; // Remove padding on last navigation item
        >.nav-item {
            color: $black;
            font-family: $primary-font;
            font-weight: 900;
            margin-right: 25px;
            >a {
                color: inherit;
                padding-bottom: 0;
            }
            &-last {
                margin-right: 100px;
            }
        }
        >.nav-icon {
            padding-left: 0;
            padding-right: 0;
            >a {
                color: $black;
            }
        }
    }
    &.navbar-fixed-top {
        box-shadow: 1px 16px 51px -10px rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: 1px 16px 51px -10px rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 1px 16px 51px -10px rgba(0, 0, 0, 0.16);
    }
}