.post {
    $parent: &;
    padding-top: 150px;
    &__content {
        column-count: 2;
        column-gap: 4em;
        &--left {
            margin-right: 4em;
        }
        &--right {
            margin-left: 4em;
        }
    }
    img {
        max-width: 100%;
        object-fit: cover;
        height: 500px;   
    }
    &__nav {
        padding: 30px;
        @at-root #{$parent}__pager--prev {
            background: $tan;
            padding: 80px 70px;
            max-width: 100%;
            margin: 30px;
            text-align: center;
            vertical-align: middle;
        }
        @at-root #{$parent}__related {
            @extend .post__nav;
            &:last-child {
                margin-right: 0;
            } 
        }
    }
        
}