// Colors
$lt-blue: #c5eff7;
$dk-blue: #81cfe0;
$lavender: #e396df;
$tan: #f2d0a4;
$black: #282828;

// Fonts
$font-lg: 21px;
$font-base: 16px;
$font-sm: 14px;
$font-xs: 13px;
$primary-font: 'Playfair Display', serif;
$secondary-font: 'Muli', sans-serif;

// Normalized Header Sizes
$h1-size: 160px;
$h2-size: $h1-size / 2;
$h3-size: $h2-size / 1.35;
$h4-size: $h3-size * 0.77;
$h5-size: $h4-size - 15;
$h6-size: $h5-size - 5;

$button-size: 20px;