// -----------------------
// Table of Contents
// -----------------------

// 1. Breakpoints

// 2. Colors

// 3. Fonts


// -----------------------
// Breakpoints
// -----------------------

$bp-xs: 500px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1200px;


// -----------------------
// Colors
// -----------------------

$lt-blue: #c5eff7;
$dk-blue: #81cfe0;
$lavender: #e396df;
$tan: #f2d0a4;
$black: #282828;
$white: #ffffff;


// -----------------------
// Fonts
// -----------------------

// Typefaces
$primary-font: 'Playfair Display', serif;
$secondary-font: 'Muli', sans-serif;

// Paragraph Sizes
$font-lg: 21px;
$font-base: 16px;
$font-sm: 14px;
$font-xs: 13px;

// Header Sizes
$h1-size: 160px;
$h2-size: $h1-size / 2;
$h3-size: $h2-size / 1.35;
$h4-size: $h3-size * 0.77;
$h5-size: $h4-size - 15;
$h6-size: $h5-size - 5;

// Button Sizes
$button-size: 20px;