<!-- views/pages/about.ejs -->
<% include ../partials/head %>
<% include ../partials/header %>

<main class="about-main-section">
    <div class="row">
        <div class="col-lg-12">
            <img src="/images/usa-bridal_about.png" alt="About USA Bridal">
            <div class="about-main-section-txt">
                <div class="about-main-section-breadcrumbs">
                    <a href="/">Home</a> › About Us
                </div>
                <div class="about-main-section-headline">
                    <h1 class="h1-xl text-left"><span class="h1-lead">About Us &amp;</span> Our<br>History</h1>
                </div>
            </div>
            <!-- Add Social Icons -->
            <div class="social-icons">
                <span class="social-icon fb"><a href="#"><i class="fab fa-facebook-f fa-2x "></i></a></span>
                <span class="social-icon twitter"><a href="#"><i class="fab fa-twitter fa-2x "></i></a></span>
                <span class="social-icon pinterest"><a href="#"><i class="fab fa-pinterest fa-2x "></i></a></span>
                <span class="social-icon instagram"><a href="#"><i class="fab fa-instagram fa-2x "></i></a></span>
            </div>
            <!-- Promo Bar -->
            <div class="about-main-section-btn text-center">
                <a href="#">learn more</a>
            </div>
        </div>
    </div>
</main>

<section class="section landing-page-btf-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 landing-page-btf-section-img">
                <img src="/images/usa-bridal_about_btf-img.png">                 
            </div>
            <div class="col-md-6 landing-page-btf-section-txt">
                <div class="landing-page-btf-section-txt__content">
                    <h3>
                       Customers want more gowns and styles, including the ability to try it on.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section landing-page-btf-row2-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 landing-page-btf-section-txt">
                <div class="landing-page-btf-section-txt__content">
                    <h3>
                      Thousands of square feet full of designer wedding gowns.
                    </h3>
                    <p>Bridal Warehouse opened in Louisville, Kentucky in 1994. It was an immediate success. Each superstore location has over one thousand bridal and destination gowns from the world's best formal designers. The entire wedding party is catered to. Brides maids, mothers and  ower girls each have a huge selection to choose from. Each location also features over one thousand prom, pageant and special occasion gowns and dresses. Bridal Warehouse is a unique experience that caters to you. Now, some sixteen years later, Bridal Warehouse has expanded to four bridal superstores and a new bridal/prom/tux boutique store.</p>
                </div>
            </div>
            <div class="col-md-5 landing-page-btf-section-img">
                <img src="/images/usa-bridal_about-btf-row2.png">                 
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer %>