<% include ../partials/head %>
<% include ../partials/header %>

<!-- APPOINTMENT FORM -->
<section class="container-fluid">
    <form action="" post="">
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-10 col-sm-12 input__divide">
                <p class="input__label">
                    I am seeking professional help with 
                </p>
                <select class="input__dropdown">
                    <option>Request*</option>
                    <option>Bridal Gown</option>
                    <option>Bridesmaids</option>
                    <option>Mother Gown</option>
                    <option>Flower Girl</option>
                    <option>Tuxedo Party</option>
                    <option>Prom Gown</option>
                    <option>Other</option>
                </select>
                <p class="input__label">
                    scheduled for 
                </p>
                <input type="date" class="input__calendar" placeholder="Date & Time" /> 
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"></div>
        </div>
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-10 col-sm-12 input__divide">
                <p class="input__label">
                    My name is
                </p>
                <input type="text" class="input__field" placeholder="First Name*" /> 
                <input type="text" class="input__field" placeholder="Last Name*" /> 
                <p class="input__label">
                    and I live in 
                </p>
                <select class="input__dropdown">
                    <option>Country*</option>
                    <option>The second option</option>
                    <option>The third option</option>
                </select>
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"></div>
        </div>
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-10 col-sm-12 input__divide">
                <p class="input__label">
                    at
                </p>
                <input type="text" class="input__field input__extend" placeholder="Address*" /> 
                <input type="text" class="input__field" placeholder="City*" /> 
                <select class="input__dropdown">
                    <option>State*</option>
                    <option>The second option</option>
                    <option>The third option</option>
                </select>
                <input type="text" class="input__field" placeholder="Zip*" /> 
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"></div>
        </div>
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-10 col-sm-12 input__divide">
                <p class="input__label">
                    I can be best reached at
                </p>
                <input type="tel" class="input__field" placeholder="Phone*" /> 
                <p class="input__label">
                    and/or
                </p>
                <input type="email" class="input__field input__extend" placeholder="Email*" /> 
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"></div>
        </div>
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-10 col-sm-12 input__divide">
                <p class="input__label">
                    My budget is
                </p>
                <div class="input__extend input__range--container">
                    <span class="rangeValues">$400 - $699</span>
                    <input class="input__range" value="100" min="100" max="3000" step="100" type="range">
                    <input class="input__range" value="3000" min="100" max="3000" step="100" type="range">
                </div>
                <p class="input__label">
                    and my wedding date is
                </p>
                <input type="date" class="input__calendar" placeholder="Date*" /> 
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"></div>
        </div>
        <div class="row">
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="col-md-10 col-sm-12 input__divide">
                <p class="input__label">
                    My size is
                </p>
                <input type="tel" class="input__field input__extend" placeholder="Dress Size*" /> 
                <p class="input__label">
                    and I expect
                </p>
                <input type="tel" class="input__field input__extend" placeholder="# of Bridesmaids*" /> 
                <p class="input__label">
                    bridesmaids plus
                </p>
                <input type="tel" class="input__field input__extend" placeholder="# of Groomsmen*" /> 
                <p class="input__label">
                    groomsmen.
                </p>
            </div>
            <div class="col-md-1 hidden-sm hidden-xs"></div>
            <div class="row">
                <div class="col-xs-12">
                    <a href="#" class="input__submit">
                        schedule appointment
                    </a>
                </div>
            </div>
        </div>
    </form>
</section>
<!-- end APPOINTMENT FORM -->

<% include ../partials/footer %>