<% include ../partials/head %>
<% include ../partials/header %>

<%
    path = "appointment" // Keep text lowercase. Seperate additional links with "/" and no spaces

    page = {
        smallTitle: 'Appointment by',
        largeTitle: 'Request',
        description: 'Os excestrum et mod quis minvele ssernate ant lignatur aliquaes ipsantis corro occabor solorporatur sit quiate aditior secesto rporem et laborib usapit aut qui tem. Laccus, optas si sit et expe sinci doluptatur antem.'
    };

    image = {
        hero: 'http://placehold.it/2000',
        heroAlt: '',
        heroSupport: 'http://placehold.it/2000' // Image below the fold
    };

    cta = {
        title: 'For the attention & service you deserve.',
        description: 'A member of our professional bridal consultant staff will contact you within 48 hours to confirm your appointment.'
    };
%>
<% include ../partials/header-trio  %>

<!-- APPOINTMENT FORM -->
<section class="container-fluid">
    <form action="" post="">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 input__divide">
                <p class="input__label">
                    I am seeking professional help with 
                </p>
                <select class="input__dropdown">
                    <option>Request*</option>
                    <option>Bridal Gown</option>
                    <option>Bridesmaids</option>
                    <option>Mother Gown</option>
                    <option>Flower Girl</option>
                    <option>Tuxedo Party</option>
                    <option>Prom Gown</option>
                    <option>Other</option>
                </select>
                <p class="input__label">
                    scheduled for 
                </p>
                <input type="date" class="input__calendar" placeholder="Date & Time" /> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 input__divide">
                <p class="input__label">
                    My name is
                </p>
                <input type="text" class="input__field" placeholder="First Name*" /> 
                <input type="text" class="input__field" placeholder="Last Name*" /> 
                <p class="input__label">
                    and I live in 
                </p>
                <select class="input__dropdown">
                    <option>Country*</option>
                    <option>The second option</option>
                    <option>The third option</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 input__divide">
                <p class="input__label">
                    at
                </p>
                <input type="text" class="input__field input__extend" placeholder="Address*" /> 
                <input type="text" class="input__field" placeholder="City*" /> 
                <select class="input__dropdown">
                    <option>State*</option>
                    <option>The second option</option>
                    <option>The third option</option>
                </select>
                <input type="text" class="input__field" placeholder="Zip*" /> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 input__divide">
                <p class="input__label">
                    I can be best reached at
                </p>
                <input type="tel" class="input__field" placeholder="Phone*" /> 
                <p class="input__label">
                    and/or
                </p>
                <input type="email" class="input__field input__extend" placeholder="Email*" /> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 input__divide">
                <p class="input__label">
                    My budget is
                </p>
                <div class="input__extend input__range--container">
                    <span class="rangeValues">$400 - $699</span>
                    <input class="input__range" value="100" min="100" max="3000" step="100" type="range">
                    <input class="input__range" value="3000" min="100" max="3000" step="100" type="range">
                </div>
                <p class="input__label">
                    and my wedding date is
                </p>
                <input type="date" class="input__calendar" placeholder="Date*" /> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12input__divide">
                <p class="input__label">
                    My size is
                </p>
                <input type="tel" class="input__field input__extend" placeholder="Dress Size*" /> 
                <p class="input__label">
                    and I expect
                </p>
                <input type="tel" class="input__field input__extend" placeholder="# of Bridesmaids*" /> 
                <p class="input__label">
                    bridesmaids plus
                </p>
                <input type="tel" class="input__field input__extend" placeholder="# of Groomsmen*" /> 
                <p class="input__label">
                    groomsmen.
                </p>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a href="#" class="input__submit">
                        schedule appointment
                    </a>
                </div>
            </div>
        </div>
    </form>
</section>
<!-- end APPOINTMENT FORM -->

<% include ../partials/footer %>