<!-- views/pages/blog.ejs -->
<% include ../partials/head %>
<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="list-group">
                <% include ../partials/post-snippet.ejs %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>