<!-- views/pages/blog.ejs -->
<% include ../partials/head %>
<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="list-group">
            
                <!-- List of Blog Post Snippets Here -->
                <% for(var i=0; i<4; i++) { %>
                <% include ../partials/post-snippet.ejs %>
                <% } %>
                <!-- End list-->

            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>