<!-- pages/categories -->

<!-- CONTENT -->
<% include ../partials/head %>
    <% include ../partials/header %>
    <% let dropdownsInHeader = false; %>
    <% include ../partials/header-large %>
    <%  ctaFullwidth = [{
            "cta": 'Shop All</br>Bridal Gowns',
            "ctaLink": '#',
            "imageURL": "http://placehold.it/600x350"
        },
        {
            "cta": 'Shop All</br>Destination Gowns',
            "ctaLink": '#',
            "imageURL": "http://placehold.it/600x350"
        },
        {
            "cta": 'Shop All</br>Bridal Party Dresses',
            "ctaLink": '#',
            "imageURL": "http://placehold.it/600x350"
        },
        {
            "cta": 'Shop All</br>Flower Girl Dresses',
            "ctaLink": '#',
            "imageURL": "http://placehold.it/600x350"
        }
    ];%>
    <% include ../partials/cta-fullwidth %>
    
    <%  let preFooterColumns = 2;  
        preFooter = [{
            "title": 'Request Appointment',
            "body":'Non consenis asitionsequi te nonsequam voloreprata quo venihitatis ma aditi velesed quae con eseque nosam destrum iuscian dantur...',
            "btn": {
                btnLink: '#' ,
                btnTxt: 'schedule today'
            }
        },
        {
            "title": 'Register Your Wedding',
            "body":'Non consenis asitionsequi te nonsequam voloreprata quo venihitatis ma aditi velesed quae con eseque nosam destrum iuscian dantur...',
            "btn": {
                btnLink: '#' ,
                btnTxt: 'register today'
            }
        }
    ];%>
    <section class="content container-fluid">
        <% include ../partials/pre-footer-content %>
    </section>


<% include ../partials/footer %>