<% include ../partials/head %>
    <% include ../partials/header %>
        <% let dropdownsInHeader = false; %>
            <% include ../partials/header-large %>

<div class="container-fluid">
    <section class="categories">
        <div class="row">
            <div class="col-md-12">
                <div class="row category">
                    <div class="col-md-6">
                        <div class="category__image">
                            <img src="http://placehold.it/600x350" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="category__btn">
                            <a href="">
                                <h2 class="accent__offset-lines">Shop All Bridal Gowns</h2>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

                <% include ../partials/footer %>