<!-- pages/categories -->

<!-- CONTENT -->
<% include ../partials/head %>
    <% include ../partials/header %>
    <% let dropdownsInHeader = false; %>
    <% include ../partials/header-large %>
    <%  ctaFullwidth = [{
            "cta": 'Blue Tag Site-wide Sale',
            "ctaLink": '#',
            "imageURL": "http://placehold.it/600x350"
        },
        {
            "cta": '20% of Invitations Site-wide Sale',
            "ctaLink": '#',
            "imageURL": "http://placehold.it/600x350"
        },
        {
            "cta": 'Enter To Win Rewards',
            "ctaLink": '#',
            "imageURL": "http://placehold.it/600x350"
        }
    ]%>
    <% include ../partials/cta-fullwidth %>
    
<section class="content container-fluid">
    <div class="row">
        <%  preFooterColumns = 3;   
            preFooter = [{
                "title": 'Appointment',
                "body":'Non consenis asitionsequi te nonsequam voloreprata quo venihitatis ma aditi velesed quae con eseque nosam destrum iuscian dantur...',
                "btn": {
                    btnLink: '#' ,
                    btnTxt: 'schedule today'
                }
            },
            {
                "title": 'Register Wedding',
                "body":'Non consenis asitionsequi te nonsequam voloreprata quo venihitatis ma aditi velesed quae con eseque nosam destrum iuscian dantur...',
                "btn": {
                    btnLink: '#' ,
                    btnTxt: 'register today'
                }
            },
            {
                "title": 'Register Prom',
                "body":'Non consenis asitionsequi te nonsequam voloreprata quo venihitatis ma aditi velesed quae con eseque nosam destrum iuscian dantur...',
                "btn": {
                    btnLink: '#' ,
                    btnTxt: 'register today'
                }
            }
        ]%>
        <% include ../partials/pre-footer-content %>
    </div>
</section>

<% include ../partials/footer %>