<% include ../partials/head %>
<% include ../partials/header %>

<%
    path = "register your wedding" // Keep text lowercase. Seperate additional links with "/" and no spaces

    page = {
        smallTitle: 'Register Your',
        largeTitle: 'Wedding',
        description: 'Os excestrum et mod quis minvele ssernate ant lignatur aliquaes ipsantis corro occabor solorporatur sit quiate aditior secesto rporem et laborib usapit aut qui tem. Laccus, optas si sit et expe sinci doluptatur antem.'
    };

    image = {
        hero: 'http://placehold.it/2000',
        heroAlt: '#',
        heroSupport: 'http://placehold.it/2000' // Image below the fold
    };

    cta = {
        title: 'Chance to Win When Registering Your Wedding',
        description: 'FREE Wedding Gown or Bridal Gown<br>Up to 5 Brides Maid Dresses<br>$300 Bridal Warehouse Gift Card<br>Plus receive sale announcements, show dates notifications & special email promotions!'
    };
%>
<% include ../partials/header-trio  %>

<!-- REGISTER WEDDING FORM -->
<section class="container-fluid">
    <form action="" post="">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 input__divide">
                <p class="input__label">
                    My
                </p>
                <select class="input__dropdown">
                    <option>Wedding</option>
                    <option>Quinceanera</option>
                    <option>Pageant</option>
                    <option>Other</option>
                </select>
                <p class="input__label">
                    date is scheduled for
                </p>
                <input type="date" class="input__calendar" placeholder="Date & Time" /> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 input__divide">
                <p class="input__label">
                    My name is
                </p>
                <input type="text" class="input__field" placeholder="First Name*" /> 
                <input type="text" class="input__field" placeholder="Last Name*" /> 
                <p class="input__label">
                    and I live in 
                </p>
                <select class="input__dropdown">
                    <option>Country*</option>
                    <option>The second option</option>
                    <option>The third option</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 input__divide">
                <p class="input__label">
                    at
                </p>
                <input type="text" class="input__field input__extend" placeholder="Address*" /> 
                <input type="text" class="input__field" placeholder="City*" /> 
                <select class="input__dropdown">
                    <option>State*</option>
                    <option>The second option</option>
                    <option>The third option</option>
                </select>
                <input type="text" class="input__field" placeholder="Zip*" /> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 input__divide">
                <p class="input__label">
                    I can be best reached at
                </p>
                <input type="tel" class="input__field" placeholder="Phone*" /> 
                <p class="input__label">
                    and/or
                </p>
                <input type="email" class="input__field input__extend" placeholder="Email*" /> 
            </div>
        </div>
        <!-- APPEARS WHEN WEDDING OPTION IS SELECTED -->
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 input__divide">
                <p class="input__label">
                    The Groom's Name  is
                </p>
                <input type="text" class="input__calendar" placeholder="Groom's Name*" /> 
                <p class="input__label">
                    and I wish to schedule an appointment for
                </p>
                <input type="date" class="input__calendar" placeholder="Date*" /> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 input__divide">
                <p class="input__label">
                    For my event, I expect
                </p>
                <input type="tel" class="input__field input__extend" placeholder="# of Bridesmaids*" /> 
                <p class="input__label">
                    bridesmaids plus
                </p>
                <input type="tel" class="input__field input__extend" placeholder="# of Groomsmen*" /> 
                <p class="input__label">
                    groomsmen.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-sm-12 input__divide">
                <p class="input__label">
                    Some Designers &amp; Styles I like are
                </p>
                <textarea class="input__textarea input__extend" placeholder="Interests*"></textarea>
            </div>
        </div>
        <!-- end APPEARS WHEN WEDDING OPTION IS SELECTED -->
        <div class="row">
            <div class="col-xs-12">
                <a href="#" class="input__submit">
                    schedule appointment
                </a>
            </div>
        </div>
    </form>
</section>
<!-- end REGISTER WEDDING FORM -->

<% include ../partials/footer %>